In [279]:
from sklearn.ensemble import RandomForestClassifier

In [280]:
from sklearn.svm import SVC

In [281]:
import pandas as pd

In [282]:
#df = pd.read_csv('fake_job_postings.csv')

In [283]:
#df.to_pickle('fake_job_postings.pkl')

In [284]:
df = pd.read_pickle('fake_job_postings.pkl')

In [285]:
df

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [287]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [288]:
df = df[['title', 'location', 'department', 'salary_range',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent']]

In [289]:
df['fraudulent'].value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [290]:
salary_range_dictionary = dict(df['salary_range'].value_counts())

In [291]:
salary_range_dictionary

{'0-0': 142,
 '40000-50000': 66,
 '30000-40000': 55,
 '25000-30000': 37,
 '45000-67000': 37,
 '30000-50000': 32,
 '35000-45000': 30,
 '80000-100000': 30,
 '70000-90000': 30,
 '50000-80000': 29,
 '60000-80000': 28,
 '55000-75000': 28,
 '50000-70000': 28,
 '30000-35000': 27,
 '40000-60000': 27,
 '40000-45000': 27,
 '25000-35000': 26,
 '50000-60000': 24,
 '45000-50000': 22,
 '40000-70000': 21,
 '35000-40000': 20,
 '100000-120000': 20,
 '80000-120000': 19,
 '18000-20000': 18,
 '35000-50000': 18,
 '30000-45000': 17,
 '20000-25000': 17,
 '60000-75000': 17,
 '80000-110000': 17,
 '4500-4500': 16,
 '20000-30000': 16,
 '140000-150000': 16,
 '50000-65000': 16,
 '65000-80000': 15,
 '45000-60000': 15,
 '100000-150000': 14,
 '55000-65000': 14,
 '70000-80000': 14,
 '45000-55000': 14,
 '90000-110000': 14,
 '90000-120000': 13,
 '60000-90000': 13,
 '40000-100000': 12,
 '60000-70000': 12,
 '20000-24000': 12,
 '28000-32000': 12,
 '25000-40000': 12,
 '35000-65000': 11,
 '60000-100000': 11,
 '45000-65000': 11,
 '16000-18500': 11,
 '70000-100000': 11,
 '75000-100000': 10,
 '20000-40000': 10,
 '40000-55000': 10,
 '7200-1380000': 10,
 '100000-130000': 10,
 '50000-55000': 10,
 '65000-75000': 10,
 '15000-30000': 9,
 '65000-85000': 9,
 '50000-100000': 9,
 '23000-28000': 9,
 '20000-50000': 9,
 '55000-70000': 9,
 '18000-25000': 8,
 '35000-55000': 8,
 '33000-34000': 8,
 '16500-18500': 8,
 '60000-120000': 8,
 '15750-15750': 8,
 '80000-90000': 8,
 '90000-100000': 8,
 '45-80': 8,
 '70000-85000': 8,
 '50000-90000': 8,
 '45000-70000': 8,
 '30000-48000': 7,
 '250000-500000': 7,
 '70000-125000': 7,
 '42000-80000': 7,
 '40000-65000': 7,
 '70000-120000': 7,
 '18000-22000': 7,
 '20000-35000': 7,
 '30000-60000': 7,
 '40000-80000': 7,
 '14000-18000': 7,
 '75000-85000': 7,
 '50-65': 7,
 '55-105': 6,
 '33000-100000': 6,
 '30000-30000': 6,
 '55000-60000': 6,
 '36000-42000': 6,
 '10-Oct': 6,
 '1000-2000': 6,
 '44624-53764': 6,
 '60-150': 6,
 '120000-150000': 6,
 '45-85': 6,
 '65000-70000': 6,
 '28000-35000': 6,
 '22000-30000': 6,
 '50000-50000': 6,
 '20000-60000': 5,
 '15000-18000': 5,
 '21600-31200': 5,
 '15000-20000': 5,
 '26000-30000': 5,
 '180000-240000': 5,
 '21-63000': 5,
 '90000-130000': 5,
 '50000-85000': 5,
 '22000-28000': 5,
 '40-50': 5,
 '80000-130000': 5,
 '30000-70000': 5,
 '16000-20000': 5,
 '20-25': 5,
 '10-Nov': 5,
 '22000-25000': 5,
 '16000-18000': 5,
 '22000-22000': 5,
 '75000-110000': 5,
 '100000-200000': 5,
 '10000-20000': 5,
 '120000-140000': 5,
 '95000-115000': 5,
 '80-100': 5,
 '50000-75000': 5,
 '13000-14000': 5,
 '18000-18000': 5,
 '40000-40000': 4,
 '33000-36000': 4,
 '35-45': 4,
 '130000-160000': 4,
 '19000-24000': 4,
 '80-110': 4,
 '45000-45000': 4,
 '10000-15000': 4,
 '13-20': 4,
 '0-30000': 4,
 '27000-32000': 4,
 '55000-68000': 4,
 '24000-26000': 4,
 '48000-60000': 4,
 '55-125': 4,
 '50-70': 4,
 '70-100': 4,
 '50000-72000': 4,
 '0-100000': 4,
 '29000-32000': 4,
 '35000-60000': 4,
 '48000-55000': 4,
 '80000-95000': 4,
 '10000-30000': 4,
 '40000-120000': 4,
 '60000-65000': 4,
 '25000-50000': 4,
 '35000-35000': 4,
 '115000-125000': 4,
 '9000-12000': 4,
 '32000-40000': 4,
 '19000-19000': 4,
 '35-40': 4,
 '200000-600000': 4,
 '1000-1000': 4,
 '28000-28000': 3,
 '110000-120000': 3,
 '90000-140000': 3,
 '25000-45000': 3,
 '55-65': 3,
 '65000-100000': 3,
 '100000-110000': 3,
 '143520-197600': 3,
 '17500-17500': 3,
 '12000-18000': 3,
 '42000-42000': 3,
 '140000-160000': 3,
 '35000-75000': 3,
 '24000-28000': 3,
 '41000-45000': 3,
 '85000-100000': 3,
 '95000-110000': 3,
 '10000-100000': 3,
 '45000-85000': 3,
 '0-50000': 3,
 '400000-650000': 3,
 '18000-21000': 3,
 '3000-6000': 3,
 '34000-38000': 3,
 '200000-240000': 3,
 '11000-11000': 3,
 '45-67': 3,
 '30000-37000': 3,
 '30000-38000': 3,
 '28000-30000': 3,
 '28000-40000': 3,
 '85000-150000': 3,
 '0-1000': 3,
 '960000-1200000': 3,
 '80000-140000': 3,
 '130000-150000': 3,
 '42000-62000': 3,
 '60000-150000': 3,
 '65000-120000': 3,
 '11000-25000': 3,
 '20000-20000': 3,
 '30-50': 3,
 '15-19': 3,
 '0-25000': 3,
 '13-15': 3,
 '17-20': 3,
 '75000-120000': 3,
 '30-40': 3,
 '21000-21000': 3,
 '2000-4000': 3,
 '135-165': 3,
 '25000-27000': 3,
 '17000-19000': 3,
 '166400-260000': 3,
 '80000-80000': 3,
 '75000-80000': 3,
 '35000-100000': 3,
 '20000-27000': 3,
 '45000-80000': 3,
 '17000-20000': 3,
 '18000-26000': 3,
 '24000-36000': 3,
 '24000-32000': 3,
 '150000-200000': 2,
 '90000-150000': 2,
 '42000-60000': 2,
 '42000-48000': 2,
 '99000-99999': 2,
 '22000-24000': 2,
 '75000-125000': 2,
 '15600-15600': 2,
 '25000-28000': 2,
 '0-130000': 2,
 '28000-38000': 2,
 '0-32000': 2,
 '125000-135000': 2,
 '85000-95000': 2,
 '110000-140000': 2,
 '36000-40000': 2,
 '0-90000': 2,
 '50-100': 2,
 '18000-30000': 2,
 '70000-110000': 2,
 '39000-41000': 2,
 '75000-90000': 2,
 '120000-130000': 2,
 '45000-95000': 2,
 '30000-42000': 2,
 '85000-120000': 2,
 '5000-7000': 2,
 '168000-216000': 2,
 '12000-24000': 2,
 '15000-25000': 2,
 '900-900': 2,
 '14000-30000': 2,
 '80000-85000': 2,
 '100-150': 2,
 '22000-26000': 2,
 '10800-10800': 2,
 '66000-84000': 2,
 '65000-90000': 2,
 '1000-3000': 2,
 '125-175': 2,
 '350000-500000': 2,
 '60-70': 2,
 '45-65': 2,
 '21000-25000': 2,
 '120000-160000': 2,
 '13000-15000': 2,
 '100000-117000': 2,
 '80000-150000': 2,
 '55000-80000': 2,
 '55000-100000': 2,
 '14000-22400': 2,
 'Oct-20': 2,
 '32000-36000': 2,
 '36000-65000': 2,
 '50000-58000': 2,
 '120000-125000': 2,
 '37000-40000': 2,
 '2000-5000': 2,
 '25000-25000': 2,
 '95000-105000': 2,
 '25-30': 2,
 '100000-125000': 2,
 '90000-95000': 2,
 '14000-16000': 2,
 '14000-17000': 2,
 '85000-110000': 2,
 '140000-200000': 2,
 '0-150000': 2,
 '750-750': 2,
 '110000-150000': 2,
 '18000-19000': 2,
 '18000-23000': 2,
 '1150-1150': 2,
 '0-2000': 2,
 '8000-14000': 2,
 '10000-14000': 2,
 '300000-400000': 2,
 '40-55': 2,
 '30000-34000': 2,
 '110000-125000': 2,
 '30000-32000': 2,
 '21120-30000': 2,
 '1050-1100': 2,
 '600000-750000': 2,
 '26000-28000': 2,
 '9600-18000': 2,
 '28000-42000': 2,
 '50-60': 2,
 '0-35000': 2,
 '50000-120000': 2,
 '80000-105000': 2,
 '300000-420000': 2,
 '70-90': 2,
 '23000-26000': 2,
 '500000-800000': 2,
 '8000-13000': 2,
 '48000-58000': 2,
 '24000-30000': 2,
 '15000-16000': 2,
 '80000-200000': 2,
 '120000-240000': 2,
 '200000-250000': 2,
 '200000-300000': 2,
 '11-Nov': 2,
 '20000-28000': 2,
 '60000-85000': 2,
 '96000-100000': 2,
 '8000-10000': 2,
 '40-100': 2,
 '36000-50000': 2,
 '17000-21000': 2,
 '20000-26000': 2,
 '16000-24000': 2,
 '39000-100000': 2,
 '0-24000': 2,
 '130000-145000': 2,
 '70000-160000': 2,
 '25000-31000': 2,
 '14000-14000': 2,
 '26000-29000': 2,
 '300000-600000': 2,
 '26000-32000': 2,
 '30000-65000': 2,
 '85000-90000': 2,
 '90-120': 2,
 '40000-90000': 2,
 '55386-66731': 2,
 '23000-32000': 2,
 '100000-180000': 2,
 '85000-105000': 2,
 '32000-45000': 2,
 '90000-125000': 2,
 '110000-130000': 2,
 '72000-144000': 2,
 '29000-33000': 2,
 '300000-500000': 2,
 '50000-150000': 2,
 '52000-78000': 2,
 '115000-130000': 2,
 '85-95': 2,
 '12000-12000': 2,
 '18000-24000': 1,
 '15500-16500': 1,
 '27-30': 1,
 '1000-1500': 1,
 '23000-30000': 1,
 '1234-12345': 1,
 '20000-260000': 1,
 '1000-26000': 1,
 '23040-28800': 1,
 '26000-31000': 1,
 '70000-300000': 1,
 '2500-5000': 1,
 '70000-126000': 1,
 '50000-300000': 1,
 '14000-36000': 1,
 '107000-115000': 1,
 '35000-48000': 1,
 '42000-46000': 1,
 '40000-54000': 1,
 '27000-34000': 1,
 '15000-17000': 1,
 '6000-15000': 1,
 '70-150': 1,
 '75000-95000': 1,
 '72000-108000': 1,
 '0-95000': 1,
 '12000-17000': 1,
 '120000-170000': 1,
 '300000-325000': 1,
 '4000-5000': 1,
 '18720-19760': 1,
 '42000-54000': 1,
 '34000-50000': 1,
 '41600-52000': 1,
 '800000000-1200000000': 1,
 '77000-87000': 1,
 '75000-150000': 1,
 '60-90': 1,
 '115000-160000': 1,
 '30000-31000': 1,
 '13000-18000': 1,
 '26000-52000': 1,
 '335000-400000': 1,
 '60000-130000': 1,
 '10000-10000': 1,
 '45-55': 1,
 '78000-115000': 1,
 '130000-180000': 1,
 '22-28': 1,
 '24000-27600': 1,
 '3000-100000': 1,
 '1000-5000': 1,
 '360000-400000': 1,
 '1050-1050': 1,
 '90-110': 1,
 '110-140': 1,
 '32000-34000': 1,
 '18000-44000': 1,
 '19000-26000': 1,
 '140-160': 1,
 '35000-95000': 1,
 '65000-125000': 1,
 '35-60': 1,
 '20800-20800': 1,
 '240000-600000': 1,
 '40000-140000': 1,
 '95000-125000': 1,
 '2-Apr': 1,
 '34000-42000': 1,
 '41600-50000': 1,
 '70000-95000': 1,
 '26400-36000': 1,
 '900-1000': 1,
 '10000-25000': 1,
 '115-120': 1,
 '120000-264000': 1,
 '35000-73000': 1,
 '18720-21840': 1,
 '16000-19000': 1,
 '55000-69000': 1,
 '721000-780000': 1,
 '21000-36000': 1,
 '250000-300000': 1,
 '0-268': 1,
 '100000-160000': 1,
 '45000-75000': 1,
 '27000-34280': 1,
 '30000-100000': 1,
 '70000-200000': 1,
 '3000000-4000000': 1,
 '25000-32000': 1,
 '18720-18720': 1,
 '100000-400000': 1,
 '30000-40700': 1,
 '70000-130000': 1,
 '3000-4000': 1,
 '35000-42000': 1,
 '200000-400000': 1,
 '9600-14400': 1,
 '50-110': 1,
 '700000-1200000': 1,
 '18500-28000': 1,
 '2800-3500': 1,
 '14560-17680': 1,
 '27000-29000': 1,
 '800000-2000000': 1,
 '7500-8000': 1,
 '0-1': 1,
 '200000-700000': 1,
 '1200-3000': 1,
 '1600-1600': 1,
 '65000-140000': 1,
 '32000-42000': 1,
 '8000-9000': 1,
 '120000-168000': 1,
 '1500000-2500000': 1,
 '52000-100000': 1,
 '500000-650000': 1,
 '100-120': 1,
 '17000-32000': 1,
 '1200-1400': 1,
 '23000-25000': 1,
 '25000-65000': 1,
 '12500-15000': 1,
 '85-140': 1,
 '45000-90000': 1,
 '0-110406': 1,
 '20000-38000': 1,
 '3-Apr': 1,
 '63000-63000': 1,
 '24000-29000': 1,
 '20000-36000': 1,
 '12000-19000': 1,
 '17000-24000': 1,
 '75-100': 1,
 '18500-25000': 1,
 '32-35': 1,
 '30160-30160': 1,
 '16000-22000': 1,
 '0-60000': 1,
 '800000-1200000': 1,
 '80000-84000': 1,
 '10000-12000': 1,
 '145600-187200': 1,
 '60-80': 1,
 '35000-70000': 1,
 '23000-96000': 1,
 '45-75': 1,
 '45-48': 1,
 '14000-15000': 1,
 '30000-36000': 1,
 '30000-1000000': 1,
 '400000-600000': 1,
 '600000-800000': 1,
 '156000-187200': 1,
 '32000-52000': 1,
 '528000-636000': 1,
 '2500-2800': 1,
 '76800-96000': 1,
 '33000-53000': 1,
 '1600-1700': 1,
 '2-Jun': 1,
 '14436-28000': 1,
 '20-22': 1,
 '0-38000': 1,
 '35000-120000': 1,
 '400000-450000': 1,
 '33000-39000': 1,
 '3700-3800': 1,
 '1000-20000': 1,
 '15000-200000': 1,
 '4-Jun': 1,
 '180000-216000': 1,
 '20000-100000': 1,
 '175000-275000': 1,
 '24000-35000': 1,
 '85000-125000': 1,
 '125000-150000': 1,
 '93600-114400': 1,
 '15400-19600': 1,
 '0-120000': 1,
 '14000-25000': 1,
 '180000-200000': 1,
 '1100-1200': 1,
 '150000-250000': 1,
 '4001-6000': 1,
 '30000-450000': 1,
 '19500-24000': 1,
 '28000-34000': 1,
 '25000-42000': 1,
 '14000-40000': 1,
 '13000-16000': 1,
 '0-115': 1,
 '30000-33000': 1,
 '32000-37000': 1,
 '23000-24000': 1,
 '15-25': 1,
 '110000-135000': 1,
 '956-956': 1,
 '46000-55000': 1,
 '38000-65000': 1,
 '46000-62000': 1,
 '78000-80000': 1,
 '5000-10000': 1,
 '1000000-1500000': 1,
 '18500-27000': 1,
 '25000-36000': 1,
 '36000-63000': 1,
 '32000-37440': 1,
 '41600-62400': 1,
 '24900-31200': 1,
 '19000-36000': 1,
 '6000-20000': 1,
 'Dec-25': 1,
 '0-12500': 1,
 '21000-35000': 1,
 '100000-250000': 1,
 '55-72': 1,
 '550000-720000': 1,
 '80000-250000': 1,
 '19800-20800': 1,
 '34000-45000': 1,
 '14-15': 1,
 '37500-42500': 1,
 '0-92000': 1,
 '240000-480000': 1,
 '12000-17500': 1,
 '55000-90000': 1,
 '100000-115000': 1,
 '80000-89000': 1,
 '22000-60000': 1,
 '540000-720000': 1,
 '1600-19000': 1,
 '55000-85000': 1,
 '4-Apr': 1,
 '28000-45000': 1,
 '220000-225000': 1,
 '11-Dec': 1,
 '16000-19200': 1,
 '0-45000': 1,
 '10000-120000': 1,
 '1300000-1800000': 1,
 '23000-27000': 1,
 '18-22': 1,
 '360000-500000': 1,
 '8000-20000': 1,
 '60-75': 1,
 '45000-175000': 1,
 '9600-10500': 1,
 '80000-175000': 1,
 '300000-450000': 1,
 '32000-46000': 1,
 '90-140000': 1,
 '2000-3000': 1,
 '70000-150000': 1,
 '77000-97000': 1,
 '100000-300000': 1,
 '105-110': 1,
 '70000-105000': 1,
 '34000-35000': 1,
 '10716-16074': 1,
 '65000-115000': 1,
 '16000-28000': 1,
 '48-60': 1,
 '1000-10000': 1,
 '100000-600000': 1,
 '12000-45000': 1,
 '12500-12500': 1,
 '208000-270400': 1,
 '850-1000': 1,
 '71000-72000': 1,
 '49000-58000': 1,
 '1000-6000': 1,
 '14400-24000': 1,
 '60000-73000': 1,
 '0-43500': 1,
 '19200-33600': 1,
 '1000-1100': 1,
 '30000-80000': 1,
 '35000-36000': 1,
 '27000-30000': 1,
 '30000-39000': 1,
 '80-120': 1,
 '37000-41600': 1,
 '500000000-800000000': 1,
 '17000-30000': 1,
 '55-67': 1,
 '9-Dec': 1,
 '2000-2500': 1,
 '130000-170000': 1,
 '95000-150000': 1,
 '160000-180000': 1,
 '65000-110000': 1,
 '33000-63000': 1,
 '9000-17000': 1,
 '0-15000': 1,
 '33280-37440': 1,
 '2000000-15000000': 1,
 '29000-40000': 1,
 '55000-755000': 1,
 '91000-150000': 1,
 '65000-77000': 1,
 '120000-180000': 1,
 '42000-55000': 1,
 '17000-22000': 1,
 '150000-16500000': 1,
 '36000-48000': 1,
 '48000-57600': 1,
 '1920-2000': 1,
 '240000-300000': 1,
 '44000-57000': 1,
 '240000-500000': 1,
 '16-20': 1,
 '37400-37400': 1,
 '6266624-8582080': 1,
 '38000-52000': 1,
 '0-48000': 1,
 '0-34300': 1,
 '2000-2000': 1,
 '25-1000': 1,
 '38000-48000': 1,
 '120000-15000000': 1,
 'Jun-18': 1,
 '40-60': 1,
 '22-61000': 1,
 '30000-37500': 1,
 '360000-600000': 1,
 '30000-49000': 1,
 '25-28': 1,
 '4500-5000': 1,
 '0-70000': 1,
 '50-90': 1,
 '45000-63000': 1,
 '35-100': 1,
 '100000-240000': 1,
 '10000-16000': 1,
 '0-65000': 1,
 '120000-300000': 1,
 '150000-160000': 1,
 '16500-17500': 1,
 '45000-96000': 1,
 '40000-47000': 1,
 '45000-58000': 1,
 '83200-114400': 1,
 '400000-500000': 1,
 '7000-9000': 1,
 '9000-10000': 1,
 '175-225': 1,
 '65-75': 1,
 '6000-10000': 1,
 '29120-37440': 1,
 '42000-58000': 1,
 '39000-42000': 1,
 '35000-38000': 1,
 '16000-16000': 1,
 '45000-72000': 1,
 '60000-72000': 1,
 '45000-120000': 1,
 '26000-50000': 1,
 '40000-85000': 1,
 '7-12000': 1,
 '30-35': 1,
 '40000-75000': 1,
 '3000-60000': 1,
 '40000-46000': 1,
 '60-85': 1,
 '17000-35000': 1,
 '60000-96000': 1,
 '70-120': 1,
 '318278-400000': 1,
 '300000-330000': 1,
 '44000-102000': 1,
 '110-120': 1,
 '20000-500000': 1,
 '240000-240000': 1,
 '60000-95000': 1,
 '50-95': 1,
 '200-230': 1,
 '27000-28000': 1,
 '1161-1161': 1,
 '25000-75000': 1,
 '200000-280000': 1,
 '8-Sep': 1,
 '2000000-2263000': 1,
 '84000-102000': 1,
 '20-3075': 1,
 '40000-41000': 1,
 '124000-375000': 1,
 '32000-50000': 1,
 '120000-135000': 1,
 '5500-5500': 1,
 '40-80': 1,
 '90-100': 1,
 '10000-250000': 1,
 '900000-1200000': 1,
 '25000-100000': 1,
 '5000-6000': 1,
 '150-175': 1,
 '105000-125000': 1,
 '1300-1500': 1,
 'Oct-15': 1,
 '20800-22880': 1,
 '600000-1000000': 1,
 '2500-3500': 1,
 '180000-600000': 1,
 '120000-165000': 1,
 '67000-70000': 1,
 '0-1200000': 1,
 '144000-192000': 1,
 '250000-550000': 1,
 '15000-75000': 1,
 '34000-44000': 1,
 '196000-230000': 1,
 '192000-288000': 1,
 '41000-50000': 1,
 '0-180000': 1,
 '1000000-1400000': 1,
 '120000-120000': 1,
 '12000-15000': 1,
 '20000-23000': 1,
 '50000-95000': 1,
 '100-200': 1,
 '60-65': 1,
 '20800-22800': 1,
 '10000-18000': 1,
 '65000-72000': 1,
 '17-19': 1,
 '55000-79000': 1,
 '480000-600000': 1,
 '962-962': 1,
 '15500-17500': 1,
 '1000-1400': 1,
 '15-17': 1,
 '0-9360000': 1,
 '9240-13200': 1,
 '65-100': 1,
 '9600-57600': 1,
 '0-20000': 1,
 '96000-120000': 1,
 '14500-19000': 1,
 '43000-69000': 1,
 '38000-75000': 1,
 '27500-36000': 1,
 '22000-40000': 1,
 '36000-60000': 1,
 '40000': 1,
 '10000-22000': 1,
 '21-31': 1,
 '31181-37566': 1,
 '90-150': 1,
 '24960-27040': 1,
 '3000-7000': 1,
 '2500-2500': 1,
 '92000-141000': 1,
 '15000-19000': 1,
 '96000-240000': 1,
 '90000-115000': 1,
 '52000-57000': 1,
 '100000-170000': 1,
 '175000-250000': 1,
 '190000-220000': 1,
 '6000000-7000000': 1,
 '0-16000': 1,
 '1517-1517': 1,
 '15500-50000': 1,
 '320000-350000': 1,
 '48000-65000': 1,
 '75-115': 1,
 '36000-200000': 1,
 '450-500': 1,
 '600000-840000': 1,
 '60000-160000': 1,
 '200000-500000': 1,
 '12500-14000': 1,
 '24-25': 1,
 '16000-25000': 1,
 '33000-37000': 1,
 '38000-45000': 1,
 '93600-122720': 1,
 '36000-52000': 1,
 '20000-21000': 1,
 '35000-150000': 1,
 '104000-120000': 1,
 '120-160': 1,
 '32000-35000': 1,
 '200-250': 1,
 '2000-40000': 1,
 '420000-540000': 1,
 '50-53': 1,
 '750000-1200000': 1,
 '2000-6000': 1,
 '600000-1200000': 1,
 '80000-119000': 1,
 '36000-54000': 1,
 '96000-144000': 1,
 '37000-37000': 1,
 '25-35': 1,
 '1000-4000': 1,
 '45-70': 1,
 '53000-67000': 1,
 '32500-37500': 1,
 '20000-22000': 1}

In [292]:
error_values = []
for key, value in salary_range_dictionary.items():
    current_key = key.split('-')
    try:
        current_key[0] = int(current_key[0])
        current_key[1] = int(current_key[1])
    except:
        error_values.append(key)

In [293]:
error_values

['10-Oct',
 '10-Nov',
 'Oct-20',
 '11-Nov',
 '2-Apr',
 '3-Apr',
 '2-Jun',
 '4-Jun',
 'Dec-25',
 '4-Apr',
 '11-Dec',
 '9-Dec',
 'Jun-18',
 '8-Sep',
 'Oct-15',
 '40000']

In [294]:
for val in error_values:
    df = df[df['salary_range'] != val]

In [295]:
dict(df['salary_range'].value_counts())

{'0-0': 142,
 '40000-50000': 66,
 '30000-40000': 55,
 '25000-30000': 37,
 '45000-67000': 37,
 '30000-50000': 32,
 '70000-90000': 30,
 '80000-100000': 30,
 '35000-45000': 30,
 '50000-80000': 29,
 '55000-75000': 28,
 '50000-70000': 28,
 '60000-80000': 28,
 '30000-35000': 27,
 '40000-45000': 27,
 '40000-60000': 27,
 '25000-35000': 26,
 '50000-60000': 24,
 '45000-50000': 22,
 '40000-70000': 21,
 '35000-40000': 20,
 '100000-120000': 20,
 '80000-120000': 19,
 '18000-20000': 18,
 '35000-50000': 18,
 '80000-110000': 17,
 '20000-25000': 17,
 '30000-45000': 17,
 '60000-75000': 17,
 '20000-30000': 16,
 '4500-4500': 16,
 '50000-65000': 16,
 '140000-150000': 16,
 '65000-80000': 15,
 '45000-60000': 15,
 '90000-110000': 14,
 '45000-55000': 14,
 '70000-80000': 14,
 '55000-65000': 14,
 '100000-150000': 14,
 '60000-90000': 13,
 '90000-120000': 13,
 '40000-100000': 12,
 '60000-70000': 12,
 '20000-24000': 12,
 '28000-32000': 12,
 '25000-40000': 12,
 '70000-100000': 11,
 '35000-65000': 11,
 '16000-18500': 11,
 '60000-100000': 11,
 '45000-65000': 11,
 '65000-75000': 10,
 '40000-55000': 10,
 '20000-40000': 10,
 '50000-55000': 10,
 '7200-1380000': 10,
 '100000-130000': 10,
 '75000-100000': 10,
 '20000-50000': 9,
 '15000-30000': 9,
 '23000-28000': 9,
 '55000-70000': 9,
 '65000-85000': 9,
 '50000-100000': 9,
 '45000-70000': 8,
 '18000-25000': 8,
 '80000-90000': 8,
 '60000-120000': 8,
 '15750-15750': 8,
 '50000-90000': 8,
 '70000-85000': 8,
 '33000-34000': 8,
 '35000-55000': 8,
 '16500-18500': 8,
 '45-80': 8,
 '90000-100000': 8,
 '75000-85000': 7,
 '70000-125000': 7,
 '40000-65000': 7,
 '30000-60000': 7,
 '250000-500000': 7,
 '30000-48000': 7,
 '70000-120000': 7,
 '40000-80000': 7,
 '20000-35000': 7,
 '18000-22000': 7,
 '14000-18000': 7,
 '50-65': 7,
 '42000-80000': 7,
 '33000-100000': 6,
 '50000-50000': 6,
 '120000-150000': 6,
 '28000-35000': 6,
 '65000-70000': 6,
 '45-85': 6,
 '44624-53764': 6,
 '30000-30000': 6,
 '55-105': 6,
 '36000-42000': 6,
 '1000-2000': 6,
 '60-150': 6,
 '55000-60000': 6,
 '22000-30000': 6,
 '21-63000': 5,
 '95000-115000': 5,
 '20-25': 5,
 '15000-18000': 5,
 '50000-85000': 5,
 '40-50': 5,
 '22000-25000': 5,
 '120000-140000': 5,
 '15000-20000': 5,
 '20000-60000': 5,
 '180000-240000': 5,
 '26000-30000': 5,
 '80-100': 5,
 '13000-14000': 5,
 '16000-18000': 5,
 '50000-75000': 5,
 '90000-130000': 5,
 '10000-20000': 5,
 '22000-22000': 5,
 '100000-200000': 5,
 '75000-110000': 5,
 '22000-28000': 5,
 '30000-70000': 5,
 '80000-130000': 5,
 '18000-18000': 5,
 '21600-31200': 5,
 '16000-20000': 5,
 '24000-26000': 4,
 '45000-45000': 4,
 '19000-19000': 4,
 '29000-32000': 4,
 '13-20': 4,
 '55000-68000': 4,
 '10000-15000': 4,
 '35-45': 4,
 '35000-60000': 4,
 '40000-40000': 4,
 '48000-55000': 4,
 '27000-32000': 4,
 '50000-72000': 4,
 '50-70': 4,
 '48000-60000': 4,
 '10000-30000': 4,
 '35-40': 4,
 '60000-65000': 4,
 '35000-35000': 4,
 '0-100000': 4,
 '80-110': 4,
 '19000-24000': 4,
 '80000-95000': 4,
 '130000-160000': 4,
 '33000-36000': 4,
 '9000-12000': 4,
 '1000-1000': 4,
 '40000-120000': 4,
 '25000-50000': 4,
 '0-30000': 4,
 '70-100': 4,
 '32000-40000': 4,
 '115000-125000': 4,
 '200000-600000': 4,
 '55-125': 4,
 '140000-160000': 3,
 '45000-80000': 3,
 '42000-62000': 3,
 '60000-150000': 3,
 '200000-240000': 3,
 '135-165': 3,
 '90000-140000': 3,
 '12000-18000': 3,
 '35000-100000': 3,
 '17500-17500': 3,
 '25000-45000': 3,
 '65000-120000': 3,
 '30000-37000': 3,
 '2000-4000': 3,
 '30-40': 3,
 '18000-26000': 3,
 '85000-100000': 3,
 '11000-25000': 3,
 '42000-42000': 3,
 '28000-30000': 3,
 '45-67': 3,
 '75000-120000': 3,
 '13-15': 3,
 '17000-20000': 3,
 '24000-32000': 3,
 '41000-45000': 3,
 '130000-150000': 3,
 '18000-21000': 3,
 '11000-11000': 3,
 '17-20': 3,
 '30-50': 3,
 '45000-85000': 3,
 '80000-80000': 3,
 '80000-140000': 3,
 '400000-650000': 3,
 '143520-197600': 3,
 '35000-75000': 3,
 '85000-150000': 3,
 '21000-21000': 3,
 '20000-20000': 3,
 '28000-40000': 3,
 '28000-28000': 3,
 '166400-260000': 3,
 '17000-19000': 3,
 '0-50000': 3,
 '34000-38000': 3,
 '960000-1200000': 3,
 '3000-6000': 3,
 '30000-38000': 3,
 '100000-110000': 3,
 '0-25000': 3,
 '15-19': 3,
 '0-1000': 3,
 '110000-120000': 3,
 '75000-80000': 3,
 '10000-100000': 3,
 '95000-110000': 3,
 '25000-27000': 3,
 '20000-27000': 3,
 '24000-28000': 3,
 '65000-100000': 3,
 '55-65': 3,
 '24000-36000': 3,
 '50000-150000': 2,
 '22000-26000': 2,
 '350000-500000': 2,
 '85000-105000': 2,
 '100-150': 2,
 '50000-58000': 2,
 '42000-60000': 2,
 '50-60': 2,
 '28000-42000': 2,
 '80000-85000': 2,
 '60-70': 2,
 '55000-80000': 2,
 '52000-78000': 2,
 '32000-45000': 2,
 '115000-130000': 2,
 '300000-500000': 2,
 '85-95': 2,
 '29000-33000': 2,
 '12000-12000': 2,
 '32000-36000': 2,
 '80000-150000': 2,
 '2000-5000': 2,
 '21120-30000': 2,
 '96000-100000': 2,
 '0-150000': 2,
 '15000-16000': 2,
 '90000-95000': 2,
 '120000-160000': 2,
 '20000-28000': 2,
 '8000-10000': 2,
 '40-100': 2,
 '21000-25000': 2,
 '9600-18000': 2,
 '28000-38000': 2,
 '168000-216000': 2,
 '42000-48000': 2,
 '65000-90000': 2,
 '55000-100000': 2,
 '110000-150000': 2,
 '750-750': 2,
 '14000-17000': 2,
 '25-30': 2,
 '18000-19000': 2,
 '15000-25000': 2,
 '85000-90000': 2,
 '37000-40000': 2,
 '90-120': 2,
 '5000-7000': 2,
 '30000-42000': 2,
 '120000-125000': 2,
 '15600-15600': 2,
 '300000-400000': 2,
 '85000-120000': 2,
 '110000-140000': 2,
 '39000-41000': 2,
 '75000-90000': 2,
 '10000-14000': 2,
 '150000-200000': 2,
 '14000-22400': 2,
 '85000-95000': 2,
 '100000-117000': 2,
 '75000-125000': 2,
 '45-65': 2,
 '14000-30000': 2,
 '1000-3000': 2,
 '26000-32000': 2,
 '45000-95000': 2,
 '70000-110000': 2,
 '16000-24000': 2,
 '25000-28000': 2,
 '36000-40000': 2,
 '0-90000': 2,
 '0-32000': 2,
 '50-100': 2,
 '110000-125000': 2,
 '120000-130000': 2,
 '95000-105000': 2,
 '0-24000': 2,
 '90000-150000': 2,
 '100000-125000': 2,
 '66000-84000': 2,
 '36000-65000': 2,
 '14000-16000': 2,
 '25000-25000': 2,
 '85000-110000': 2,
 '130000-145000': 2,
 '12000-24000': 2,
 '140000-200000': 2,
 '13000-15000': 2,
 '300000-600000': 2,
 '10800-10800': 2,
 '125-175': 2,
 '900-900': 2,
 '300000-420000': 2,
 '18000-23000': 2,
 '22000-24000': 2,
 '1150-1150': 2,
 '90000-125000': 2,
 '36000-50000': 2,
 '120000-240000': 2,
 '17000-21000': 2,
 '110000-130000': 2,
 '20000-26000': 2,
 '30000-65000': 2,
 '50000-120000': 2,
 '80000-105000': 2,
 '39000-100000': 2,
 '200000-300000': 2,
 '23000-32000': 2,
 '55386-66731': 2,
 '40000-90000': 2,
 '70-90': 2,
 '23000-26000': 2,
 '500000-800000': 2,
 '8000-13000': 2,
 '48000-58000': 2,
 '24000-30000': 2,
 '72000-144000': 2,
 '70000-160000': 2,
 '25000-31000': 2,
 '14000-14000': 2,
 '26000-29000': 2,
 '100000-180000': 2,
 '200000-250000': 2,
 '125000-135000': 2,
 '0-35000': 2,
 '80000-200000': 2,
 '26000-28000': 2,
 '30000-32000': 2,
 '18000-30000': 2,
 '30000-34000': 2,
 '8000-14000': 2,
 '99000-99999': 2,
 '1050-1100': 2,
 '40-55': 2,
 '0-130000': 2,
 '0-2000': 2,
 '60000-85000': 2,
 '600000-750000': 2,
 '95000-125000': 1,
 '240000-500000': 1,
 '180000-216000': 1,
 '35-60': 1,
 '1000-5000': 1,
 '35000-120000': 1,
 '35000-70000': 1,
 '25000-42000': 1,
 '21000-35000': 1,
 '30000-450000': 1,
 '16-20': 1,
 '32000-34000': 1,
 '45000-120000': 1,
 '37400-37400': 1,
 '6266624-8582080': 1,
 '38000-52000': 1,
 '120000-264000': 1,
 '42000-46000': 1,
 '23040-28800': 1,
 '100000-250000': 1,
 '55-72': 1,
 '18720-18720': 1,
 '30000-100000': 1,
 '45000-58000': 1,
 '83200-114400': 1,
 '30000-40700': 1,
 '156000-187200': 1,
 '0-95000': 1,
 '12000-17000': 1,
 '400000-500000': 1,
 '550000-720000': 1,
 '4500-5000': 1,
 '600000-800000': 1,
 '300000-325000': 1,
 '25-28': 1,
 '115000-160000': 1,
 '1234-12345': 1,
 '30000-49000': 1,
 '18000-24000': 1,
 '360000-600000': 1,
 '20000-260000': 1,
 '44000-57000': 1,
 '2500-5000': 1,
 '107000-115000': 1,
 '250000-300000': 1,
 '0-12500': 1,
 '26000-31000': 1,
 '30000-36000': 1,
 '60-80': 1,
 '27000-29000': 1,
 '22-61000': 1,
 '85000-125000': 1,
 '20000-36000': 1,
 '17000-32000': 1,
 '100-120': 1,
 '35000-42000': 1,
 '200000-400000': 1,
 '30000-37500': 1,
 '1920-2000': 1,
 '2800-3500': 1,
 '14560-17680': 1,
 '800000-2000000': 1,
 '3700-3800': 1,
 '208000-270400': 1,
 '0-1': 1,
 '200000-700000': 1,
 '1200-3000': 1,
 '32000-42000': 1,
 '24000-35000': 1,
 '8000-9000': 1,
 '10000-12000': 1,
 '12500-12500': 1,
 '33000-39000': 1,
 '15000-200000': 1,
 '75-100': 1,
 '17000-24000': 1,
 '30000-1000000': 1,
 '150000-250000': 1,
 '22000-60000': 1,
 '23000-96000': 1,
 '32000-52000': 1,
 '15400-19600': 1,
 '28000-34000': 1,
 '0-48000': 1,
 '14000-25000': 1,
 '20000-100000': 1,
 '52000-100000': 1,
 '700000-1200000': 1,
 '240000-300000': 1,
 '0-34300': 1,
 '12000-19000': 1,
 '25-1000': 1,
 '180000-200000': 1,
 '12500-15000': 1,
 '38000-48000': 1,
 '120000-15000000': 1,
 '40-60': 1,
 '23000-25000': 1,
 '25000-65000': 1,
 '0-110406': 1,
 '0-120000': 1,
 '1200-1400': 1,
 '76800-96000': 1,
 '30160-30160': 1,
 '45-48': 1,
 '900-1000': 1,
 '26400-36000': 1,
 '17000-22000': 1,
 '150000-16500000': 1,
 '95000-150000': 1,
 '60000-130000': 1,
 '130000-170000': 1,
 '2000-2500': 1,
 '35000-48000': 1,
 '49000-58000': 1,
 '14000-36000': 1,
 '50000-300000': 1,
 '1000-26000': 1,
 '15500-16500': 1,
 '1000-6000': 1,
 '1000-1500': 1,
 '14400-24000': 1,
 '40000-54000': 1,
 '60000-73000': 1,
 '15000-17000': 1,
 '26000-52000': 1,
 '13000-18000': 1,
 '0-43500': 1,
 '60-90': 1,
 '800000000-1200000000': 1,
 '19200-33600': 1,
 '42000-54000': 1,
 '72000-108000': 1,
 '100000-400000': 1,
 '1000-1100': 1,
 '42000-55000': 1,
 '10000-25000': 1,
 '41600-50000': 1,
 '115-120': 1,
 '160000-180000': 1,
 '65000-110000': 1,
 '20800-20800': 1,
 '33000-63000': 1,
 '65000-125000': 1,
 '140-160': 1,
 '19000-26000': 1,
 '9000-17000': 1,
 '18000-44000': 1,
 '0-15000': 1,
 '110-140': 1,
 '1050-1050': 1,
 '360000-400000': 1,
 '33280-37440': 1,
 '24000-27600': 1,
 '130000-180000': 1,
 '2000000-15000000': 1,
 '29000-40000': 1,
 '45-55': 1,
 '55000-755000': 1,
 '70000-95000': 1,
 '25000-32000': 1,
 '91000-150000': 1,
 '45000-75000': 1,
 '65000-77000': 1,
 '21000-36000': 1,
 '55000-69000': 1,
 '18720-21840': 1,
 '120000-180000': 1,
 '71000-72000': 1,
 '30000-80000': 1,
 '40000-47000': 1,
 '80000-84000': 1,
 '35-100': 1,
 '65000-140000': 1,
 '1600-1600': 1,
 '100000-240000': 1,
 '7500-8000': 1,
 '10000-16000': 1,
 '18500-28000': 1,
 '50-110': 1,
 '500000-650000': 1,
 '800000-1200000': 1,
 '0-65000': 1,
 '0-60000': 1,
 '16000-22000': 1,
 '24000-29000': 1,
 '63000-63000': 1,
 '20000-38000': 1,
 '45000-90000': 1,
 '85-140': 1,
 '120000-300000': 1,
 '27000-34000': 1,
 '20-22': 1,
 '18500-25000': 1,
 '32-35': 1,
 '80000-250000': 1,
 '9600-14400': 1,
 '150000-160000': 1,
 '16500-17500': 1,
 '1000-20000': 1,
 '45000-96000': 1,
 '1500000-2500000': 1,
 '145600-187200': 1,
 '27000-30000': 1,
 '45000-63000': 1,
 '3000-4000': 1,
 '0-38000': 1,
 '14436-28000': 1,
 '30000-39000': 1,
 '1600-1700': 1,
 '33000-53000': 1,
 '528000-636000': 1,
 '80-120': 1,
 '400000-600000': 1,
 '37000-41600': 1,
 '14000-15000': 1,
 '500000000-800000000': 1,
 '17000-30000': 1,
 '45-75': 1,
 '55-67': 1,
 '36000-48000': 1,
 '400000-450000': 1,
 '35000-36000': 1,
 '19500-24000': 1,
 '4001-6000': 1,
 '48000-57600': 1,
 '1100-1200': 1,
 '2000-2000': 1,
 '0-70000': 1,
 '93600-114400': 1,
 '125000-150000': 1,
 '175000-275000': 1,
 '50-90': 1,
 '120000-168000': 1,
 '2500-2800': 1,
 '6000-15000': 1,
 '19800-20800': 1,
 '318278-400000': 1,
 '27000-28000': 1,
 '200-230': 1,
 '7000-9000': 1,
 '50-95': 1,
 '850-1000': 1,
 '60000-95000': 1,
 '240000-240000': 1,
 '9000-10000': 1,
 '20000-500000': 1,
 '110-120': 1,
 '65000-72000': 1,
 '44000-102000': 1,
 '300000-330000': 1,
 '20800-22800': 1,
 '25000-75000': 1,
 '21-31': 1,
 '31181-37566': 1,
 '40000-41000': 1,
 '90-150': 1,
 '10000-18000': 1,
 '24960-27040': 1,
 '3000-7000': 1,
 '2500-2500': 1,
 '92000-141000': 1,
 '15500-50000': 1,
 '35000-150000': 1,
 '15000-19000': 1,
 '96000-240000': 1,
 '1161-1161': 1,
 '45000-175000': 1,
 '20000-21000': 1,
 '540000-720000': 1,
 '60000-72000': 1,
 '1600-19000': 1,
 '55000-85000': 1,
 '28000-45000': 1,
 '65-75': 1,
 '45000-72000': 1,
 '16000-16000': 1,
 '220000-225000': 1,
 '35000-38000': 1,
 '39000-42000': 1,
 '16000-19200': 1,
 '42000-58000': 1,
 '29120-37440': 1,
 '6000-10000': 1,
 '60-75': 1,
 '0-45000': 1,
 '1300000-1800000': 1,
 '23000-27000': 1,
 '60-85': 1,
 '18-22': 1,
 '17000-35000': 1,
 '60000-96000': 1,
 '70-120': 1,
 '2000000-2263000': 1,
 '360000-500000': 1,
 '8000-20000': 1,
 '20000-22000': 1,
 '200000-280000': 1,
 '90000-115000': 1,
 '36000-52000': 1,
 '34000-45000': 1,
 '17-19': 1,
 '25-35': 1,
 '37000-37000': 1,
 '96000-144000': 1,
 '36000-54000': 1,
 '15500-17500': 1,
 '80000-119000': 1,
 '600000-1200000': 1,
 '1000-1400': 1,
 '2000-6000': 1,
 '15-17': 1,
 '750000-1200000': 1,
 '50-53': 1,
 '0-9360000': 1,
 '420000-540000': 1,
 '962-962': 1,
 '9240-13200': 1,
 '2000-40000': 1,
 '24-25': 1,
 '1517-1517': 1,
 '9600-57600': 1,
 '65-100': 1,
 '0-16000': 1,
 '27500-36000': 1,
 '38000-75000': 1,
 '43000-69000': 1,
 '14500-19000': 1,
 '96000-120000': 1,
 '0-20000': 1,
 '1000-4000': 1,
 '480000-600000': 1,
 '93600-122720': 1,
 '48000-65000': 1,
 '38000-45000': 1,
 '33000-37000': 1,
 '16000-25000': 1,
 '12500-14000': 1,
 '320000-350000': 1,
 '52000-57000': 1,
 '200000-500000': 1,
 '60000-160000': 1,
 '600000-840000': 1,
 '450-500': 1,
 '100000-170000': 1,
 '36000-200000': 1,
 '75-115': 1,
 '104000-120000': 1,
 '0-115': 1,
 '175000-250000': 1,
 '190000-220000': 1,
 '120-160': 1,
 '6000000-7000000': 1,
 '32000-35000': 1,
 '200-250': 1,
 '10000-22000': 1,
 '32500-37500': 1,
 '36000-60000': 1,
 '53000-67000': 1,
 '22000-40000': 1,
 '55000-79000': 1,
 '45-70': 1,
 '9600-10500': 1,
 '80000-175000': 1,
 '26000-50000': 1,
 '32000-37000': 1,
 '78000-115000': 1,
 '22-28': 1,
 '3000-100000': 1,
 '19000-36000': 1,
 '90-110': 1,
 '24900-31200': 1,
 '35000-95000': 1,
 '41600-62400': 1,
 '240000-600000': 1,
 '40000-140000': 1,
 '30000-33000': 1,
 '27-30': 1,
 '13000-16000': 1,
 '175-225': 1,
 '6000-20000': 1,
 '2500-3500': 1,
 '23000-24000': 1,
 '600000-1000000': 1,
 '15-25': 1,
 '20800-22880': 1,
 '110000-135000': 1,
 '956-956': 1,
 '46000-55000': 1,
 '1300-1500': 1,
 '38000-65000': 1,
 '105000-125000': 1,
 '150-175': 1,
 '25000-100000': 1,
 '34000-42000': 1,
 '3000000-4000000': 1,
 '40000-85000': 1,
 '23000-30000': 1,
 '70000-130000': 1,
 '70-150': 1,
 '75000-95000': 1,
 '14-15': 1,
 '37500-42500': 1,
 '120000-170000': 1,
 '4000-5000': 1,
 '18720-19760': 1,
 '41600-52000': 1,
 '77000-87000': 1,
 '75000-150000': 1,
 '30000-31000': 1,
 '335000-400000': 1,
 '0-92000': 1,
 '70000-200000': 1,
 '240000-480000': 1,
 '70000-300000': 1,
 '70000-126000': 1,
 '12000-17500': 1,
 '34000-50000': 1,
 '10000-10000': 1,
 '35000-73000': 1,
 '16000-19000': 1,
 '721000-780000': 1,
 '0-268': 1,
 '100000-160000': 1,
 '27000-34280': 1,
 '55000-90000': 1,
 '78000-80000': 1,
 '124000-375000': 1,
 '5000-10000': 1,
 '48-60': 1,
 '0-180000': 1,
 '41000-50000': 1,
 '192000-288000': 1,
 '105-110': 1,
 '196000-230000': 1,
 '70000-105000': 1,
 '34000-44000': 1,
 '34000-35000': 1,
 '10716-16074': 1,
 '65000-115000': 1,
 '16000-28000': 1,
 '15000-75000': 1,
 '250000-550000': 1,
 '1000-10000': 1,
 '1000000-1500000': 1,
 '144000-192000': 1,
 '5000-6000': 1,
 '20-3075': 1,
 '100000-600000': 1,
 '84000-102000': 1,
 '40000-46000': 1,
 '3000-60000': 1,
 '12000-45000': 1,
 '40000-75000': 1,
 '32000-46000': 1,
 '30-35': 1,
 '7-12000': 1,
 '300000-450000': 1,
 '100000-300000': 1,
 '1000000-1400000': 1,
 '77000-97000': 1,
 '120000-120000': 1,
 '900000-1200000': 1,
 '10000-250000': 1,
 '18500-27000': 1,
 '25000-36000': 1,
 '36000-63000': 1,
 '90-100': 1,
 '40-80': 1,
 '5500-5500': 1,
 '120000-135000': 1,
 '32000-37440': 1,
 '32000-50000': 1,
 '180000-600000': 1,
 '100000-115000': 1,
 '120000-165000': 1,
 '67000-70000': 1,
 '0-1200000': 1,
 '60-65': 1,
 '46000-62000': 1,
 '80000-89000': 1,
 '10000-120000': 1,
 '90-140000': 1,
 '2000-3000': 1,
 '100-200': 1,
 '50000-95000': 1,
 '20000-23000': 1,
 '70000-150000': 1,
 '12000-15000': 1,
 '14000-40000': 1}

In [296]:
df_salary_range_empty = df[df['salary_range'].isna()]
df_salary_range_not_empty = df[~df['salary_range'].isna()]

In [297]:
df_salary_range_not_empty['salary'] = ''
df_salary_range_empty['salary'] = ''

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [298]:
df_salary_range_not_empty = df_salary_range_not_empty.reset_index()

In [299]:
df_salary_range_not_empty.columns

Index(['index', 'title', 'location', 'department', 'salary_range',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'salary'],
      dtype='object')

In [300]:
df_salary_range_not_empty = df_salary_range_not_empty[['title', 'location', 'department', 'salary_range',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'salary']]

In [301]:
for i in range(df_salary_range_not_empty.shape[0]):
    current_salary_range = df_salary_range_not_empty['salary_range'].values[i]
    current_salary_list = current_salary_range.split('-')
    salary_value = (int(current_salary_list[1]) + int(current_salary_list[0]))/2
    df_salary_range_not_empty['salary'].values[i] = salary_value

In [302]:
df_salary_range_not_empty['salary'].mean()

664074.4301302359

In [303]:
df_salary_range_empty['salary'] = df_salary_range_not_empty['salary'].mean()

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [304]:
df = df_salary_range_not_empty.append(df_salary_range_empty)

In [305]:
df.columns

Index(['title', 'location', 'department', 'salary_range', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'salary'],
      dtype='object')

In [306]:
df = df[['title', 'location', 'department', 'salary','telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent']]

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17853 entries, 0 to 17879
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17853 non-null  object
 1   location             17509 non-null  object
 2   department           6330 non-null   object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  10806 non-null  object
 9   required_education   9752 non-null   object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.9+ MB

In [308]:
dict(df['title'].value_counts())

{'English Teacher Abroad ': 311,
 'Customer Service Associate ': 146,
 'Graduates: English Teacher Abroad (Conversational)': 144,
 'English Teacher Abroad': 95,
 'Software Engineer': 86,
 'English Teacher Abroad (Conversational)': 83,
 'Customer Service Associate - Part Time ': 76,
 'Account Manager': 75,
 'Web Developer': 66,
 'Project Manager': 62,
 'Beauty & Fragrance consultants needed': 60,
 'Graduates: English Teacher Abroad ': 57,
 'Customer Service Representative': 51,
 'Administrative Assistant': 48,
 'Product Manager': 47,
 'Office Manager': 46,
 'Marketing Manager': 45,
 'Customer Service Associate': 45,
 'Sales Representative': 45,
 'Web Designer': 44,
 'Senior Software Engineer': 44,
 'iOS Developer': 44,
 'Account Executive': 41,
 'Customer Service Team Lead ': 40,
 'Front End Developer': 38,
 'Sales Manager': 37,
 'Software Developer': 36,
 'Android Developer': 33,
 'Contact Center Representatives': 31,
 'Data Scientist': 31,
 'Business Analyst': 30,
 'Java Developer': 29,
 'PHP Developer': 28,
 'Customer Service Technical Specialist ': 26,
 'Entry Level Sales': 26,
 'Business Development Manager': 25,
 'Graphic Designer': 25,
 'Executive Assistant': 24,
 '.NET Developer': 24,
 'DevOps Engineer': 23,
 'Community Manager': 22,
 'Process Engineer': 21,
 'Data Analyst': 21,
 'Cruise Staff Wanted *URGENT*': 21,
 'English Teacher Overseas': 21,
 'Application Developer': 21,
 'Sales Director': 21,
 'QA Engineer': 21,
 'Data Entry Admin/Clerical Positions - Work From Home': 21,
 'Home Based Payroll Typist/Data Entry Clerks Positions Available': 21,
 'UI/UX Designer': 20,
 'Physical Therapist': 20,
 'Marketing Representative': 20,
 'Accountant': 19,
 'Sales Executive': 19,
 'Production Supervisor': 19,
 'Collections Supervisor': 19,
 'Human Resources Manager': 18,
 'Inside Sales Representative': 18,
 'Systems Engineer': 18,
 'Regional Sales Manager': 18,
 'Controls Engineer': 18,
 'Operations Manager': 18,
 'Marketing Associate': 17,
 'Product Designer': 17,
 'Associate Business Development': 17,
 'Marketing Intern': 17,
 'Front-End Developer': 17,
 'UX Designer': 17,
 'Electrical Maintenance Technician': 16,
 'Quality Assurance Engineer': 16,
 'Senior Web Developer': 16,
 'Senior Developer': 16,
 'Customer Service Associate - On Call ': 16,
 'Mechanical Engineer': 16,
 'UI Designer': 15,
 'Customer Service Associate - Part Time': 15,
 'Head of Marketing': 15,
 'Front-end Developer': 15,
 'Office Administrator': 15,
 'Data Entry': 15,
 'Maintenance Technician': 14,
 'Developer': 14,
 'Customer Success Manager': 14,
 'Technical Support Engineer': 14,
 'Digital Marketing Manager': 14,
 'Senior Java Developer': 14,
 'Quality Assurance Manager': 14,
 'Manufacturing Engineer': 14,
 'Cad Designer': 13,
 'UX/UI Designer': 13,
 'Manager of Finance': 13,
 'Visual Designer': 13,
 'Manufacturing Engineering Manager': 13,
 'Assistant Manager': 13,
 'Manufacturing Operations Supervisor': 13,
 'Field Operations Specialist': 12,
 'New Product Development Project Leader': 12,
 'Branch Manager': 12,
 'Call Center Representative': 12,
 'System Administrator': 12,
 'Home Based Payroll Data Entry Clerk Position - Earn $100-$200 Daily ': 12,
 'Buyer': 12,
 'Regional Inside Sales Representative': 12,
 'Social Media Manager': 12,
 'Linux System Administrator': 12,
 'Agent-Inbound Sales Position': 12,
 'Receptionist': 12,
 'Escrow Officer / Title Closer': 12,
 'Product Marketing Manager': 12,
 'Service Delivery Manager 1 ': 12,
 'Marketing Coordinator': 12,
 'Mobile Developer': 11,
 'Senior iOS Developer': 11,
 'Local Representative': 11,
 'Sr. Design Engineer Mechanical - 3D CAD': 11,
 'Full Stack Developer': 11,
 'iOS Engineer': 11,
 'Manufacturing Engineering - Lean Manufacture': 11,
 'Sales Development Representative': 11,
 'Android Engineer': 11,
 'Branch Associate': 11,
 'IT Security Analyst': 11,
 'Controller': 11,
 'CNC Programmer': 11,
 'Auditor': 11,
 'Electrical Maintenance Technician - Major States': 10,
 'Backend Engineer': 10,
 'Sales Engineer': 10,
 'Sales Associate': 10,
 'Health Safety Environmental Manager': 10,
 'Automotive Controls Engineer': 10,
 'Quality Manager': 10,
 'Lean Manufacturing': 10,
 'Food Quality': 10,
 'CNC Machinist': 10,
 'Electrical Controls Engineer': 10,
 'JavaScript Developer': 10,
 'Regional Field Sales Representative': 10,
 'Senior Designer': 10,
 'Marketing Director': 10,
 'Director, Supply Chain - Strategy': 10,
 'Sales Representative with Management Training - AT&T': 10,
 'Talent Management Process Manager': 10,
 'Payroll Data Coordinator Positions - Earn $100-$200 Daily ': 10,
 'Process Improvement Project Engineering Manager': 10,
 'Account Sales Managers $80-$130,000/yr': 10,
 'Payroll Clerk': 10,
 'Network Marketing': 10,
 'Luxury fragrance consultants needed for Xmas!': 10,
 'Frontend Developer': 10,
 'Inside Sales': 10,
 'Demonstrator': 10,
 'Sales Consultant': 9,
 'Sales Rep for AT&T Solutions Provider - Management Training': 9,
 'Social Media Intern': 9,
 'Call Center Supervisor': 9,
 'Senior Account Manager': 9,
 'Art Director': 9,
 'Senior Accountant': 9,
 'Digital Account Manager': 9,
 'Senior Product Manager': 9,
 'Agency Sales Managers $150-$175,000/yr': 9,
 'Customer Service Representative ': 9,
 'Title Closer': 9,
 'Senior PHP Developer': 9,
 'Technical Project Manager': 9,
 'Senior Software Developer': 9,
 'Lead Developer': 9,
 'Project Coordinator': 9,
 'Office Assistant': 8,
 'Outside Sales Professional': 8,
 'Title/Escrow Closer': 8,
 'Chief Financial Officer': 8,
 'Production Manager': 8,
 'Data Engineer': 8,
 'Account Executive ': 8,
 'Service Delivery Manager 2 ': 8,
 'Sales Executive ': 8,
 'Project Manager ': 8,
 'Systems Administrator': 8,
 'Production Engineer': 8,
 'Sales Professional': 8,
 'Systems Engineers/Network Administrators/Tiers I-III': 8,
 'Customer Service Team Lead': 8,
 'Key Account Manager': 8,
 'Technical Writer': 8,
 'Sale Representatives': 8,
 'HR Generalist': 8,
 'Business Development Executive': 8,
 'Injection Molding Supervisor': 8,
 'Marketing Assistant': 8,
 'Financial Analyst': 8,
 'Director of Sales': 7,
 'Interaction Designer': 7,
 'Front-End Engineer': 7,
 'HR Manager': 7,
 'Home Improvement Marketing': 7,
 'Senior QA Engineer': 7,
 'Event Specialists': 7,
 'Campaign Manager': 7,
 'Sales Coordinator': 7,
 'Financial Controller': 7,
 'Copywriter': 7,
 'Network Engineer': 7,
 'Customer Service Rep': 7,
 'Customer Service Associate  ': 7,
 'Executive Chef': 7,
 'Technical Support Associate': 7,
 'Financial Advisor': 7,
 'Frontend Engineer': 7,
 'Home Automation and Alarm Sales Office Launch - AT&T Digital Life': 7,
 'Hiring 8-10 Reps by Monday- Customer Service/Sales': 7,
 'Military Veterans Wanted for Solar Energy Construction': 7,
 'Sales, Assistant Manager & Market Manager Positions Available': 7,
 'Customer Service Reps': 7,
 'Recovery Specialists': 7,
 'Mirfield Warehousing Apprenticeship Under NAS 16-18 Year Olds Only ': 7,
 'Client Service Professional': 7,
 'Python Developer': 7,
 'Truck Driver - CDL Truck Driver - Truck Driving Jobs': 7,
 'Business Development Director': 7,
 'Business Development Associate': 7,
 'Insurance Sales Representative': 6,
 'Business Developer': 6,
 'Internship': 6,
 'Front End Engineer': 6,
 'Personal Assistant': 6,
 'Customer Service Positions': 6,
 'Senior .NET Developer': 6,
 'Vehicle Purchaser': 6,
 'Title Account Executive': 6,
 'Back-End Developer': 6,
 'Field Technician': 6,
 'QA Manager': 6,
 'Sales Representative ': 6,
 'Creative Director': 6,
 'Appointment Coordinator': 6,
 'Field Sales Representative': 6,
 'Front-End Web Developer': 6,
 'Director of Marketing': 6,
 'Customer Service Specialist': 6,
 'Senior Project Manager': 6,
 'Head of Product': 6,
 'Sr Software Engineer (Python/Django) - Remote': 6,
 'Account Manager ': 6,
 'Title Insurance Ops: Sr Title Officer/Counsel': 6,
 'Senior Ruby Developer': 6,
 ' Payroll Data Entry Clerk Position - Earn $100-$200 Daily ': 6,
 'Ruby on Rails Developer': 6,
 'Project Engineer': 6,
 'Attorney': 6,
 'Store Manager': 6,
 'Senior iOS Engineer': 6,
 'Admin Assistant': 6,
 'Junior Software Engineer': 6,
 'Escrow Officer / Closer': 6,
 'Marketing Specialist ': 6,
 'Maintenance Mechanic': 6,
 'Sales Lead Generator': 6,
 'Senior Network Engineer': 6,
 'Administrative Assistant ': 6,
 'Marketing and Sales Representative- Full Time Position': 6,
 'Application Support Analyst': 6,
 'Technical Support Specialist': 6,
 'Appointment Setter': 6,
 'Senior Visual Designer': 6,
 'Business Development': 6,
 'Intern': 6,
 'Promotions / Marketing Assistant': 6,
 'Account Director': 6,
 'Project Controls Specialist': 6,
 'Teaching English': 6,
 'Senior Territory Manager': 6,
 'Recruitment Consultant': 6,
 'Product Analyst': 6,
 'PHP Web Developer': 6,
 'Lawn and Maintenance Contractors ': 6,
 'Retail Associate': 6,
 'Front End Web Developer': 5,
 'Director of Rehab': 5,
 'Junior Digital Designer': 5,
 'HR Assistant': 5,
 'Online Marketing Specialist': 5,
 'Operations Specialists': 5,
 'Executive Director': 5,
 'Business Development Intern': 5,
 'Senior Ruby on Rails Developer': 5,
 '***NEEDED 15-20 CUSTOMER SERVICE REPS': 5,
 'Digital Designer': 5,
 'Growth Hacker': 5,
 'Customer Service Technical Specialist': 5,
 'Lead Designer': 5,
 'Customer Service Positions ($18-$22 an hour)': 5,
 'Completion Engineer': 5,
 'Graduate Summer Work Program -- Limited Openings -- Apply Now': 5,
 'Full-Cycle Oil & Gas Recruiter ': 5,
 'Facilities Engineer': 5,
 'Senior Marketing Manager': 5,
 'Applications Engineer': 5,
 'Full-Cycle Recruiter (Oil & Gas)': 5,
 'Marketing / Sales Representative ': 5,
 'Junior Web Designer': 5,
 'Promotional Sales Representative': 5,
 'Solutions Architect': 5,
 'Support Engineer': 5,
 'Head of Online Marketing': 5,
 'Bookkeeper': 5,
 'Structural Engineer': 5,
 'Oracle DBA': 5,
 'Customer Relations - Full Time - No Call Center': 5,
 'Senior Front End Engineer': 5,
 'Birmingham Business Admin Apprenticeship Under NAS 16-18 Year Olds Only': 5,
 'Customer Care Representative': 5,
 'General Application': 5,
 'Security Engineer': 5,
 'Associate': 5,
 'Marketing Executive': 5,
 'Specialist Curriculum Associate': 5,
 'Drupal Developer': 5,
 'Van Foreman / Driver - Class A': 5,
 'Backend Developer': 5,
 'Senior Sales Executive': 5,
 'Passport and Visa Specialist': 5,
 'Business Intelligence Analyst': 5,
 'Driver II ': 5,
 'EXPERIENCED CAREGIVERS NEEDED TODAY!THE BEST PAY & AWESOME BENEFITS!!': 5,
 'Director of Operations': 5,
 'Administrative Coordinator': 5,
 'Customer Service Agent': 5,
 'Marketing Rep Positions (Base Plus Commissions)': 5,
 'Business Development Manager ': 5,
 'Sales Account Executive': 5,
 'Product Owner': 5,
 'Super Marketing Specialist': 5,
 'Development Manager': 5,
 'Entry Level CSR Wanted $22.50/HR PLUS Commissions': 5,
 'Senior Interaction Designer': 5,
 'Customer Service Manager': 5,
 'Sales Intern': 5,
 'Program Manager': 5,
 'Junior Web Developer': 5,
 'Customer Service Specialist in our Promotions Department': 5,
 'Online Marketing Manager': 5,
 '25 CLIENT SUPPORT OFFICERS HIRING : IMMEDIATELY PLACING': 5,
 'Title Sales Representative': 5,
 'Client Services Manager': 5,
 'Receptionist ': 5,
 'Support Worker (Personal Assistant)': 5,
 'Accounting Assistant': 5,
 '200K + MANAGEMENT POSITION FOR EXPERIENCED MERCHANT CASH ADVANCE REPS': 5,
 'Care Assistant': 5,
 'Data Entry Clerk': 5,
 'Customer Service Reps Needed For Expansion': 5,
 'Graphic Designer ': 5,
 'Content Writer': 5,
 'Property Preservation Field Crews': 5,
 '.Net Developer': 5,
 'Content Marketer': 5,
 'Senior Account Executive': 5,
 'GIS Technician': 4,
 'Software Engineer ': 4,
 'UI Developer ': 4,
 '.NET Web Developer': 4,
 'Outbound Sales - Telemarketing for Healthcare IT': 4,
 'VP of Engineering': 4,
 'Production Artist': 4,
 'Wakefield Trainee Marketing Consultant Apprenticeship Under NAS 16-18 Year Olds Only': 4,
 'QA Tester': 4,
 'iOS developer': 4,
 'Clinic Assistant, North West London': 4,
 'Commercial Real Estate Paralegal- Atlanta-Buckhead': 4,
 'Sr. Reservoir Engineer': 4,
 'PT / FT Drivers': 4,
 'Digital Project Manager': 4,
 'Junior Designer': 4,
 'English Teacher Overseas (Conversational)': 4,
 'Hotel Guest Service Agent': 4,
 'Occupational Therapy Assistant': 4,
 'Healthcare Support Rep': 4,
 'Gatwick Customer Service Apprenticeship 16-18 Year Olds Only': 4,
 'Senior C# Developer': 4,
 'Chief Operating Officer': 4,
 'Software developer': 4,
 'Mail Processing Associate - General Clerk 1 ': 4,
 'General Manager': 4,
 'Insurance Administrator': 4,
 'Staff Accountant': 4,
 'Lead Software Engineer': 4,
 'Sr. Accountant': 4,
 'Senior Developer Ruby on Rails': 4,
 'Registered Nurse ': 4,
 'Web Application Developer': 4,
 'Senior Frontend Developer': 4,
 'Regional Manager': 4,
 'IT Security': 4,
 'Design Intern': 4,
 'Carpenter': 4,
 'Corporate Controller': 4,
 'Marketing Internship': 4,
 'Paid Training for Direct Sales Representative with Management Opportunity': 4,
 'Ruby on Rails Engineer': 4,
 'Public Relations Manager': 4,
 'Test Analyst': 4,
 'Addiction and Mental Health Counsellor': 4,
 'Accounting Manager': 4,
 'Technical Lead': 4,
 'Customer Care Specialist': 4,
 'Accounts Payable Clerk': 4,
 'Sales Agents $400/wk Plus Commission': 4,
 'Healthcare Assistant': 4,
 'Engagement Manager': 4,
 'Customer Assistant': 4,
 'Applications Administrator': 4,
 'Software Engineering Intern': 4,
 'Care Assistant (Personal Assistant)': 4,
 'Appointment Setter avg. 1,000-1,100 weekly Plus Commission': 4,
 'Desktop Support Technician': 4,
 'Marketing Representative Positions': 4,
 'Business Development Specialist': 4,
 'Digital Marketing Specialist': 4,
 'Accounts Assistant': 4,
 'Interactive Designer': 4,
 'Software Development Intern': 4,
 'Senior Data Scientist': 4,
 'Senior Software Engineer ': 4,
 'Field Engineer': 4,
 'Junior Developer': 4,
 'QA / BA entry level': 4,
 'Marketing Manager ': 4,
 'Electrician': 4,
 'Mobile Software Engineer': 4,
 'Full Stack Engineer': 4,
 'Analyst': 4,
 'Software Engineer in Test': 4,
 'Chelmsford Customer Service Apprenticeship Under NAS 16-18 Year Olds Only': 4,
 'Principal Engineer': 4,
 'Estimator': 4,
 'General Clerk 2 ': 4,
 'Head of Operations': 4,
 'Administration Assistant': 4,
 'Executive Assistant For Rapidly Growing Startup (Temp-to-Perm) - $36K': 4,
 'Web Application Developer (Node.JS)': 4,
 'Customer Support Star': 4,
 'Quality Assurance Analyst': 4,
 'Scrum Master': 4,
 'Financial Services Professional': 4,
 'VP Engineering': 4,
 'Director of Client Engagement ': 4,
 'Director of Finance': 4,
 'Management Accountant': 4,
 'Optical Sales': 4,
 'Executive Assistant ': 4,
 'Digital Marketing Executive': 4,
 'Customer Support Specialist': 4,
 'Receptionist/Office Clerk': 4,
 'Finance Assistant': 4,
 'Java Web Developer': 4,
 'Program Director (Danville Center)': 4,
 'Marketing Analyst': 4,
 'Title Insurance: Reader-Residential & Commercial-NYC & Long Island': 4,
 'Sr. Java Developer': 4,
 'Customer Support Associate': 4,
 'Solution Architect': 4,
 'EHS Manager': 4,
 'Network Administrator': 4,
 'Brand Manager': 4,
 'Call Center Representative I': 4,
 'C# Developer': 4,
 'Assistant Retail Manager -- Must LOVE Dogs': 4,
 'Senior Android Developer': 4,
 'Junior Project Manager': 4,
 'Account Coordinator': 4,
 'PHP Web Application Developer': 4,
 'Title Insurance & Settlement Sales: Midwestern Account Executive': 4,
 'Senior Quality Assurance Engineer': 4,
 'Senior Account Executive - Embedded Solutions': 4,
 'Translation Project Manager': 4,
 'Lead UI/UX Designer': 4,
 'Lead UX Designer': 3,
 'Technical Site Representative ': 3,
 'Junior Account Manager': 3,
 'SAP BOBJ Sr. Developer': 3,
 'Internal Marketing Representative': 3,
 'Clinic Assistant, Kingston': 3,
 'FRONT OFFICE MANAGER': 3,
 'Management Associate': 3,
 'Collections Representatives': 3,
 'Senior Systems Engineer': 3,
 'Marketing Lead': 3,
 'Certified Electrician': 3,
 'Part-time Local Coordinator for highschool Exchange Students': 3,
 'Account Supervisor': 3,
 'Digital Copywriter': 3,
 'Sales Managers (2x)': 3,
 'Assistant Accountant': 3,
 'Area Manager': 3,
 'Wireless Sales Consultants Wanted - Hiring This Week!!!': 3,
 'Director of Demand Generation': 3,
 'Marketing Communications Manager': 3,
 'Registered Nurse': 3,
 'HVAC Technician': 3,
 'Database Developer': 3,
 'Clinic Assistant': 3,
 'Benefits Consultant': 3,
 'Sr. Network Engineer': 3,
 'Account Executive - Charlotte': 3,
 'Manager Trainee': 3,
 'Software Engineer - Frontend': 3,
 'Sr. Software Engineer': 3,
 'Implementation Manager': 3,
 'Customer Success Guru': 3,
 'Home Care Schedulers': 3,
 'Management - Entry-Level': 3,
 'Delivery Driver': 3,
 'Associate Product Manager': 3,
 'Mobile Product Manager': 3,
 'Head of Sales': 3,
 'Product Manager ': 3,
 'Technical Support Representative': 3,
 'HR Specialist': 3,
 'Junior DevOps Engineer': 3,
 'Affiliate Manager': 3,
 'Business Development Executive ': 3,
 'Drinking Water/Wastewater Operator': 3,
 'Operations Engineer': 3,
 'Customer Service Representatives': 3,
 'PROGRESS Systems Supervisor': 3,
 'Game Developer': 3,
 'Full Stack Web Developer': 3,
 'Customer Service Techincal Specialist - Part Time': 3,
 'Back-end Developer': 3,
 'Experienced Dog Groomer - Costa Mesa': 3,
 'Personal Care Worker - Community Living Assistant': 3,
 'Electrical Engineer': 3,
 'Senior Java developers (Java SE)': 3,
 'Shyp Hero Courier - Los Angeles ': 3,
 'Business Manager': 3,
 'Home Carer (Personal Assistant)': 3,
 'Digital Marketing Intern': 3,
 'Internal Recruiter': 3,
 'Javascript Engineer': 3,
 'Front-End Developer ': 3,
 'Secondary Science Teacher': 3,
 'DH7 Business Admin Apprenticeship Under NAS 16-24 Year Olds Only': 3,
 'Clinic Assistant, Suffolk': 3,
 'Content Marketing Manager': 3,
 'Collections Manager': 3,
 'Clinical Supervisor': 3,
 'Field Technician ': 3,
 'Police Officer': 3,
 'Research Associate': 3,
 'Administrative Clerk': 3,
 'Management Trainee': 3,
 'Licensed Practical Nurse (LPN)- Private Duty': 3,
 'Recovery Specialist': 3,
 'Hotel Housekeeper': 3,
 'Ohio French Creole Bilingual Communication Assistant ': 3,
 'Happiness Recruiter': 3,
 'Customer Experience Specialist': 3,
 'Brand Ambassador': 3,
 'UX Lead': 3,
 'Position Finance Assistant': 3,
 'Digital Producer': 3,
 'IT Project Manager': 3,
 'Head of Human Resources': 3,
 'Retail Store Manager': 3,
 'Java developer': 3,
 'Business Development Representative': 3,
 'Technical Business Analyst': 3,
 'New York Communication Assistant': 3,
 'Content Strategist': 3,
 'Client Ambassador': 3,
 'Junior Software Developer': 3,
 'Lobby Ambassador ': 3,
 'Quality Engineer': 3,
 'Junior Graphic Designer': 3,
 'Title Insurance- VP of Operations & Sales- Chicago Loop': 3,
 'Compliance Analyst': 3,
 'Telesales Opportunities': 3,
 'ETL Developer': 3,
 'Warehouse Manager': 3,
 'Quality Assurance (QA) Engineer': 3,
 'Line Cook & Dishwashers': 3,
 'JavaScript Frontend Developer': 3,
 'Inside Sales Specialist': 3,
 'Graphics Designer': 3,
 'Financial Accountant': 3,
 'Leasing Consultant': 3,
 ' Account Executive/Digital Ad Sales': 3,
 'Risk Supervisor': 3,
 'Ruby developer': 3,
 'Project manager': 3,
 'Database Administrator': 3,
 'Editorial Intern': 3,
 'UI/UX Lead Designer': 3,
 'UI / UX Designer': 3,
 'Recruiting Coordinator': 3,
 'Customer Service Representative - Entry-Level Management': 3,
 'Service Advisor': 3,
 'Consultant': 3,
 'CTO': 3,
 'Human Resources Coordinator': 3,
 'Director of Technical Operations': 3,
 'Customer Service Associate- Part Time ': 3,
 'File Clerk': 3,
 'SEO Manager': 3,
 'Data Entry Clerk II ': 3,
 'Sales Account Manager': 3,
 'Pharmacist': 3,
 'Senior UI/UX Designer': 3,
 'Regional Sales Executive ': 3,
 'Product Specialist': 3,
 'Database Analyst': 3,
 'Database Engineer': 3,
 'Sales Manager ': 3,
 'Specialist Teaching Associate': 3,
 'Recruiting Manager': 3,
 "PASSIONATE EXPERIENCED PCP's NEEDED TODAY! WE PAY MORE FOR THE VERY BEST IN THE INDUSTRY!": 3,

In [309]:
manager_list = ['manager','management']
engineer_list = ['developer', 'tester', 'engineer', 'software', 'scientist', 'designer', 'analyst', 'system', 'specialist']
marketing_list = ['marketing', 'sales',  'accountant', 'business', 'executive', 'finance','financial', 'supervisor', 'consultant']

In [310]:
df = df.reset_index()

In [311]:
df.columns

Index(['index', 'title', 'location', 'department', 'salary', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [312]:
df = df[['title', 'location', 'department', 'salary', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent']]

In [313]:
df['simplified_titles'] = ''

In [314]:
for i in range(df.shape[0]):
    current_title = str(df['title'].values[i]).lower()
    current_title_list = current_title.split(' ')
    
    for each_word in current_title_list:
        
        if each_word in manager_list:
            df['simplified_titles'].values[i] = 'Manager'
            break
            
        elif each_word in engineer_list:
            df['simplified_titles'].values[i] = 'Engineer'
            break
            
        elif each_word in marketing_list:
            df['simplified_titles'].values[i] = 'Marketing'
            break
            
        else:
            df['simplified_titles'].values[i] = 'Others'

In [315]:
df['simplified_titles'].value_counts()

Others       8048
Engineer     4792
Marketing    3273
Manager      1740
Name: simplified_titles, dtype: int64

In [316]:
df.columns

Index(['title', 'location', 'department', 'salary', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'simplified_titles'],
      dtype='object')

In [317]:
df = df[['simplified_titles','location', 'department', 'salary', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent']]

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17853 entries, 0 to 17852
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           6330 non-null   object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  10806 non-null  object
 9   required_education   9752 non-null   object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.8+ MB

In [319]:
department_empty = df[df['department'].isna()]
department_not_empty = df[~df['department'].isna()]

In [320]:
department_empty['department'] = 'Others'

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [321]:
df = department_empty.append(department_not_empty)

In [322]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17853 entries, 1 to 17852
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           17853 non-null  object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  10806 non-null  object
 9   required_education   9752 non-null   object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.9+ MB

In [323]:
dict(df['location'].value_counts())

{'GB, LND, London': 718,
 'US, NY, New York': 658,
 'US, CA, San Francisco': 472,
 'GR, I, Athens': 464,
 'US, , ': 339,
 'US, TX, Houston': 268,
 'US, IL, Chicago': 255,
 'US, DC, Washington': 251,
 'DE, BE, Berlin': 221,
 'NZ, N, Auckland': 218,
 'US, CA, Los Angeles': 185,
 'GB, , London': 179,
 'US, TX, Austin': 174,
 'US, CA, San Diego': 164,
 'GB, , ': 138,
 'US, GA, Atlanta': 135,
 'GB, LND, ': 131,
 'US, OR, Portland': 131,
 'CA, ON, Toronto': 123,
 'US, MA, Boston': 117,
 'US, PA, Philadelphia': 114,
 'US, MI, Detroit': 112,
 'US, NY, Brooklyn': 109,
 'US, TX, Dallas': 104,
 'US, VA, Virginia Beach': 95,
 'US, OH, Cleveland': 95,
 'GR, , ': 94,
 'US, OH, Cincinnati': 91,
 'US, NC, Charlotte': 89,
 'US, MO, St. Louis': 88,
 'US, NY, New York City': 85,
 'AU, NSW, Sydney': 82,
 'US, NV, Las Vegas': 82,
 'US, CA, Santa Monica': 80,
 'CA, BC, Vancouver': 79,
 'US, AZ, Phoenix': 79,
 'US': 63,
 'EE, 37, Tallinn': 60,
 'GR, , Athens': 60,
 'US, MN, Minneapolis': 59,
 'US, NY, Albany': 58,
 'US, WA, Seattle': 57,
 'US, FL, Miami': 56,
 'US, MA, Cambridge': 56,
 'US, WI, Milwaukee': 52,
 'US, FL, Jacksonville': 50,
 'US, FL, Orlando': 49,
 'IE, L, Dublin': 49,
 'FR, J, Paris': 48,
 'US, CA, San Jose': 48,
 'US, FL, Tampa': 47,
 'IE, , Dublin': 46,
 'AU, VIC, Melbourne': 46,
 'BE, , Brussels': 46,
 'US, CA, Palo Alto': 46,
 'US, CA, San Mateo': 46,
 'IN, TN, Chennai': 45,
 'GR, B, Thessaloniki': 43,
 'US, NC, Raleigh': 42,
 'US, OH, Columbus': 42,
 'US, IN, Indianapolis': 42,
 'SG, , ': 42,
 'DE, , Berlin': 41,
 'US, TX, San Antonio': 41,
 'US, CO, Denver': 39,
 'US, CA, Irvine': 39,
 'HK, , ': 38,
 'DE, BY, Munich': 38,
 'HK, , Hong Kong': 37,
 'US, PA, Pittsburgh': 37,
 'US, NY, ': 34,
 'GR, I, ': 34,
 'US, CA, ': 34,
 'GB, CMD, London': 34,
 'US, WI, Madison': 33,
 'US, VA, Richmond': 32,
 'US, KY, Louisville': 31,
 'NL, NH, Amsterdam': 30,
 'US, CA, El Segundo': 30,
 'US, MD, Baltimore': 29,
 'US, CA, Mountain View': 29,
 'NZ, , ': 28,
 'CA, ON, Ottawa': 28,
 'US, MO, Kansas City': 28,
 'US, MA, Woburn': 28,
 'GB, ENG, London': 28,
 'IN, , ': 28,
 'US, UT, Salt Lake City': 28,
 'BE, BRU, Brussels': 27,
 'US, OK, Oklahoma City': 27,
 'IN, KA, Bangalore': 27,
 'US, TX, Fort Worth': 27,
 'GB, GBN, London': 27,
 'US, CA, Bakersfield': 26,
 'US, KY, Lexington': 26,
 'DE, BY, München': 26,
 'GB, LND, Shoreditch': 26,
 'NZ, N, Wellington': 25,
 'US, FL, Boca Raton': 25,
 'GB, BIR, Birmingham': 25,
 'US, MI, Ann Arbor': 25,
 'AE, DU, Dubai': 24,
 'US, CA, Carlsbad': 24,
 'US, CA, Redlands': 24,
 'NL, UT, Amersfoort': 23,
 'US, MN, St. Paul': 23,
 'SE, AB, Stockholm': 23,
 'GR, I, Marousi': 23,
 'US, VA, Hampton': 23,
 'IL, , ': 22,
 'NL, NH, Hilversum': 22,
 'PL, MZ, Warsaw': 22,
 'US, MI, Grand Rapids': 21,
 'US, TX, Irving': 21,
 'US, CA, Menlo Park': 21,
 'US, TX, Plano': 21,
 'GB, WKF, Wakefield': 21,
 'US, AZ, Scottsdale': 21,
 'GB, RIC, Twickenham': 20,
 'US, NY, NY': 20,
 'US, VA, Reston': 20,
 'US, CA, Long Beach': 20,
 'US, CA, Sacramento': 20,
 'US, MA, Wilmington': 20,
 'US, TN, Nashville': 20,
 'CA, AB, Edmonton': 20,
 'US, CA, Chula Vista': 20,
 'CA, QC, Montreal': 20,
 'GB, , Birmingham': 19,
 'US, NE, Omaha': 19,
 'US, CA, Fresno': 19,
 'US, CA, Sunnyvale': 19,
 'IN, AP, Hyderabad': 19,
 'PH, 07, Cebu': 19,
 'US, IA, Cedar Rapids': 18,
 'GB, , Manchester': 18,
 'US, CA, Manhattan Beach': 18,
 'GB, ISL, London': 18,
 'US, AL, Birmingham': 18,
 'US, CA, Newport Beach': 18,
 'GB, LND, London ': 18,
 'PH, 07, Cebu City': 18,
 'ES, , Chamberi | Madrid': 18,
 'IN, MH, Pune': 17,
 'US, CT, Windsor': 17,
 'US, CA, Modesto': 17,
 'US, CA, San Carlos': 17,
 'RO, B, Bucharest': 17,
 'GB, MAN, Manchester': 17,
 'US, FL, Fort Lauderdale': 17,
 'US, NY, Farmingdale': 17,
 'SG, 01, Singapore': 17,
 'PH, , Quezon City': 17,
 'US, CA, Burbank': 17,
 'US, TX, Temple': 17,
 'EG, C, Cairo, Nasr City': 16,
 'US, NY, Niagara Falls': 16,
 'DK, 84, Copenhagen': 16,
 'US, TX, Corpus Christi': 16,
 'US, TX, ': 16,
 'US, PA, ': 16,
 'US, CA, Orange County': 16,
 'US, CA, San Francisco Bay Area': 16,
 'US, UT, Draper': 16,
 'GB, NYK, Harrogate': 16,
 'US, GA, Atlanta ': 15,
 'US, CA, Santa Clara': 15,
 'US, AZ, Tempe': 15,
 'US, VA, Chesapeake': 15,
 'PK, SD, Karachi': 15,
 'US, CT, Stamford': 15,
 'ES, CT, Barcelona': 15,
 'US, IN, Fishers': 15,
 'US, TX, College Station': 15,
 'SE, , Stockholm': 15,
 'US, AL, Montgomery': 15,
 'IL, TA, Tel Aviv': 15,
 'CA, ON, London': 15,
 'US, WA, Redmond': 15,
 'US, PA, Waynesburg': 15,
 'US, TX, AUSTIN': 14,
 'US, SC, Beaufort': 14,
 'IT, 25, Milano': 14,
 'US, CA, San Ramon': 14,
 'US, VA, Fairfax': 14,
 'NZ, , Wellington': 14,
 'IE, , ': 14,
 'US, IA, Dubuque': 14,
 'GR, E, Volos': 14,
 'US, OK, Tulsa': 14,
 'US, WA, Bellingham': 14,
 'US, VA, McLean': 13,
 'IL, , Tel Aviv': 13,
 'BE, VOV, Ghent': 13,
 'AU, QLD, Brisbane': 13,
 'US, TX, DALLAS': 13,
 'GR, I, Neo Iraklio': 13,
 'US, MA, ': 13,
 'US, NJ, Piscataway': 13,
 'ES, VC, Valencia': 13,
 'US, CA, Pasadena': 13,
 'BR, SP, São Paulo': 13,
 'US, NY, NYC': 12,
 'US, TN, Memphis': 12,
 'US, DE, Wilmington': 12,
 'US, PA, Harrisburg': 12,
 'SG, 01, ': 12,
 'US, NC, Greensboro': 12,
 'US, CT, Hartford': 12,
 'US, NJ, Jersey City': 12,
 'US, TX, Lubbock': 12,
 'US, NY, Syracuse': 12,
 'US, NJ, Princeton': 12,
 'US, NJ, Secaucus': 12,
 'US, TX, Carrollton': 12,
 'IN, MP, Indore': 12,
 'US, CA, Anaheim': 12,
 'CA, MB, Winnipeg': 11,
 'GB, , Leeds': 11,
 'US, IL, chicago': 11,
 'US, VA, Arlington': 11,
 'US, VA, Charlottesville': 11,
 'US, NJ, Newark': 11,
 'RU, MOW, Moscow': 11,
 'GB, GLG, Glasgow': 11,
 'PL, DS, Wrocław': 11,
 'US, NY, New York ': 11,
 'US, VA, Herndon': 11,
 'GR, I, Acharnai': 11,
 'US, WA, Bellevue': 11,
 'GB, , Mirfield': 11,
 'US, OH, Dayton': 11,
 'GB, LDS, Leeds': 11,
 'US, TN, Franklin': 11,
 'GB, SOM, Clevedon': 11,
 'US, IN, Bloomington': 11,
 'US, CA, Oakland': 11,
 'GB, LND, london': 11,
 'US, GA, Athens': 11,
 'CA, ON, ': 10,
 'US, AR, Little Rock': 10,
 'RO, , ': 10,
 'GB, WSM, London': 10,
 'US, GA, ': 10,
 'US, MN, Moorhead': 10,
 'GB': 10,
 'US, KY, London': 10,
 'US, MN, Golden Valley': 10,
 'US, SC, Greenville': 10,
 'US, DC, ': 10,
 'GB, LND, Notting Hill': 10,
 'PL, , ': 10,
 'US, CA, Beverly Hills': 10,
 'PH, , ': 10,
 'IN, DL, New Delhi': 10,
 'NL, , ': 10,
 'US, TN, Knoxville': 10,
 'NL, , Amsterdam': 10,
 'US, FL, St. Petersburg': 10,
 'US, ID, Boise': 10,
 'AU, NSW, Artarmon': 10,
 'US, CA, Encino': 10,
 'JP, 13, ': 10,
 'US, TX, Tyler': 9,
 'US, CA, Berkeley': 9,
 'CA, NS, Halifax': 9,
 'US, OH, Seven Hills': 9,
 'HU, BU, Budapest': 9,
 'DK, , Copenhagen': 9,
 'NZ, , Auckland': 9,
 'US, MD, Rockville': 9,
 'US, NJ, ': 9,
 'IN, DL, Delhi': 9,
 'CA, AB, Calgary': 9,
 'NL, NB, Eindhoven': 9,
 'GB, MAN, ': 9,
 'GB, , Sheffield': 9,
 'US, OH, Hilliard': 9,
 'AR, , ': 9,
 'US, CA, West Hollywood': 9,
 'US, CA, Costa Mesa': 9,
 'US, SC, Columbia': 9,
 'US, FL, Tallahassee': 9,
 'US, WA, Spokane': 9,
 'US, , New York': 9,
 'US, CO, Denver ': 9,
 'AU, , ': 9,
 'LT, VL, Vilnius': 9,
 'US, TX, Arlington': 9,
 'IN, GJ, Ahmedabad': 9,
 'NL, , The Hague': 9,
 'US, MI, Paw Paw': 9,
 'DE, BE, ': 9,
 'US, UT, Murray': 8,
 'SG, , Singapore': 8,
 'US, CA, Gardena': 8,
 'GR, I, Athens (Iraklio)': 8,
 'DE, BY, Wiepoldsried': 8,
 'FR, U, Aix en Provence': 8,
 'US, CA, Santa Ana': 8,
 'US, MI, ': 8,
 'US, FL, Pensacola': 8,
 'US, CA, Orange': 8,
 'US, NC, Durham': 8,
 'IN, MH, Mumbai': 8,
 'US, IL, Highland': 8,
 'CA, , ': 8,
 'US, WI, Waukesha': 8,
 'GR, I, Piraeus': 8,
 'EG, C, Cairo': 8,
 'US, TX, PLANO': 8,
 'GB, MLN, Edinburgh': 8,
 'GB, , Belfast': 8,
 'US, IL, Libertyville': 8,
 'US, PA, Allentown': 8,
 'MY, , ': 8,
 'US, OH, Fairfield': 8,
 'US, TX, Frisco': 8,
 'US, VA, Harrisonburg': 8,
 'US, VA, Alexandria': 8,
 'US, IA, Des Moines': 8,
 'CA, ON, London ': 8,
 'GB, ANT, Belfast': 8,
 'BG, 23, Sofia': 8,
 'ZA, NL, Richards Bay': 8,
 'IN, WB, Kolkata': 8,
 'CA, BC, Langley': 8,
 'FI, ES, Helsinki': 8,
 'US, LA, New Orleans': 7,
 'US, TX, HOUSTON': 7,
 'GB, RIC, Teddington': 7,
 'IT, 25, Milan': 7,
 'US, OR, Klamath Falls': 7,
 'GR, I, Chalandri': 7,
 'US, CA, San Francisco ': 7,
 'US, MD, College Park': 7,
 'GB, DND, Dundee': 7,
 'US, CA, Los Angeles ': 7,
 'GB, , Durham': 7,
 'GB, ABE, Aberdeen': 7,
 'US, NC, Asheville': 7,
 'BR, , ': 7,
 'US, TX, Round Rock': 7,
 'US, NY, Rye': 7,
 'EG, C, Maadi': 7,
 'GB, , Chelmsford': 7,
 'GB, LND, Kingston': 7,
 'CH, ZH, Zürich': 7,
 'RO, , Bucharest': 7,
 'US, CT, ': 7,
 'US, FL, Weston': 7,
 'US, CO, Centennial': 7,
 'US, PA, Mechanicsburg': 7,
 'US, VA, Newport News': 7,
 'US, FL, Pompano Beach': 7,
 'EG, , ': 7,
 'GB, CAM, Cambridge': 7,
 'IN, AP, Visakhapatnam': 7,
 'FI, , Helsinki': 7,
 'EE, , Tallinn': 7,
 'DE, , ': 7,
 'US, NJ, Hoboken': 7,
 'US, CA, Hayward': 7,
 'PL, MA, Kraków': 7,
 'US, CO, Colorado Springs': 7,
 'GB, , Wakefield': 7,
 'US, SC, Charleston': 6,
 'US, CA, South Los Angeles': 6,
 'GR, I, Halandri': 6,
 'LT, , Vilnius': 6,
 'US, NY, Bronx': 6,
 'PT, 13, Porto': 6,
 'US, CA, Chula Vista ': 6,
 'US, WV, Buckhannon': 6,
 'IQ, , ': 6,
 'GB, BIR, ': 6,
 'US, IA, Urbandale': 6,
 'US, OR, Lake Oswego': 6,
 'US, PA, Philadelphia ': 6,
 'US, CA, Santa Fe Springs': 6,
 'AE, , Dubai': 6,
 'GB, LND, Farringdon': 6,
 'PH, 00, QUEZON CITY ': 6,
 'TH, 10, Bangkok': 6,
 'US, MA, Waltham': 6,
 'US, CO, Denver (metro)': 6,
 'US, NY, Woodbury': 6,
 'US, MI, Watervliet': 6,
 'US, CA, Marina del Rey': 6,
 'TR, 34, ': 6,
 'GB, , Milton Keynes': 6,
 'US, NJ, Lakewood': 6,
 'US, OH, Celina': 6,
 'GR, I, Acharnes': 6,
 'SE, I, Visby': 6,
 'US, KS, Overland Park': 6,
 'BY, , Minsk': 6,
 'GB, LND, Fulham': 6,
 'ID, JW, Jakarta': 6,
 'CA, ON, Cambridge': 6,
 'US, MI, Livonia': 6,
 'US, FL, Lake Mary': 6,
 'US, FL, Plantation': 6,
 'ES, , Barcelona': 6,
 'US, IL, Oak Brook': 6,
 'US, MO, St Louis': 6,
 'US, KS, Salina': 6,
 'US, FL, MIAMI': 6,
 'QA, , Doha': 6,
 'GB, LAN, Burnley': 6,
 'CY, 01, ': 6,
 'PA, 8, Panama': 6,
 'NZ, N, Auckland ': 6,
 'NZ, N, ': 6,
 'US, CA, Riverside': 6,
 'US, FL, Orlando ': 6,
 'US, NY, Elmsford': 6,
 'US, NJ, Freehold': 6,
 'US, WA, Kent': 6,
 'US, CO, Westminster': 6,
 'US, GA, Savannah': 6,
 'US, CA, North Hollywood': 6,
 'US, OH, ': 6,
 'US, CA, Fairfield': 6,
 'GB, LND, Victoria': 6,
 'PL, MZ, Warszawa': 6,
 'US, GA, Duluth ': 6,
 'US, TX, Austin/San Antonio': 6,
 'US, TX, Spicewood': 6,
 'LT, , ': 6,
 'US, NJ, Edison': 6,
 'GB, , Nottingham': 6,
 'GB, , Bristol': 6,
 'US, NE, Lincoln': 6,
 'US, CA, LOS ANGELES': 6,
 'GR, I, ATHENS': 6,
 'US, TX, Burleson': 6,
 'US, SC, columbia': 6,
 'US, FL, ': 6,
 'RO, B, ': 6,
 'AE, , ': 6,
 'GB, LND, Hoxton': 6,
 'MU, QB, Ebene': 5,
 'GR, I, Athens ': 5,
 'GB, , Gatwick': 5,
 'QA, , ': 5,
 'BH, , ': 5,
 'GB, , Southport': 5,
 'US, CA, Pleasanton': 5,
 'US, CA, Hollywood': 5,
 'LV, RIX, Riga': 5,
 'US, CA, Emeryville': 5,
 'GB, ABD, Aberdeenshire': 5,
 'US, NY, Manhattan': 5,
 'CN, 51, Chengdu': 5,
 'US, IN, Fort Wayne': 5,
 'US, AZ, Mesa': 5,
 'US, OH, Seville': 5,
 'US, NV, ': 5,
 'US, , All Locations': 5,
 'US, CT, Bridgeport': 5,
 'US, CA, Inglewood': 5,
 'US, VA, Sterling': 5,
 'US, CA, Greater Los Angeles Area': 5,
 'GB, , Leicester': 5,
 'CA, ON, Mississauga': 5,
 'US, NV, Carson City': 5,
 'GB, EDH, Edinburgh ': 5,
 'US, CA, Auburn': 5,
 'US, MN, St Paul': 5,
 'PL, , Warsaw': 5,
 'GB, EDH, Edinburgh': 5,
 'IL, TA, ': 5,
 'US, MA, Westborough': 5,
 'GB, , Coventry': 5,
 'US, OR, ': 5,
 'TR, , Istanbul': 5,
 'GR, I, Agia Paraskevi': 5,
 'US, OR, Tigard': 5,
 'ZA, NL, Pietermaritzburg': 5,
 'US, CA, san francisco': 5,
 'US, NY, New York  ': 5,
 'US, NH, Dover': 5,
 'US, NC, Cary': 5,
 'US, IL, Lake Forest': 5,
 'US, MA, Sandwich': 5,
 'MU, PW, Ebene': 5,
 'IN, HR, Gurgaon': 5,
 'US, , San Francisco': 5,
 'US, CT, Unionville': 5,
 'US, TX, Grapevine': 5,
 'US, FL, Fort Myers': 5,
 'IN, KL, Trivandrum': 5,
 'US, NY, Peekskill': 5,
 'DE, HH, Hamburg': 5,
 'US, IL, Glendale heights': 5,
 'US, KS, Lenexa': 5,
 'US, KY, ': 5,
 'US, MA, Burlington': 5,
 'GB, SWD, Swindon': 5,
 'US, MN, Cottage Grove': 5,
 'US, MO, Maryland Heights': 5,
 'FI, , Turku': 5,
 'KE, , ': 5,
 'US, NY, Long Island City': 5,
 'US, NJ, Totowa': 5,
 'US, CT, Danbury': 5,
 'IN, TN, chennai': 5,
 'AU, NSW, Surry Hills': 5,
 'US, TX, Cleburne': 5,
 'US, NY, new york': 5,
 'PK, PB, Lahore': 5,
 'GB, SRY, Camberley': 5,
 'US, IN, Carmel': 5,
 'US, PA, Indiana': 5,
 'US, NY, Rochester': 5,
 'US, VA, Danville': 5,
 'PT, 11, Lisbon': 5,
 'US, CO, DENVER ': 5,
 'AE, DU, ': 5,
 'US, LA, ': 5,
 'US, CA, LA/Orange County': 5,
 'GB, , Edinburgh': 5,
 'US, IL, Rockford': 5,
 'US, CA, Temecula': 5,
 'GB, UKM, London': 5,
 'US, IL, Orland Park': 5,
 'US, NY, Wards Island': 5,
 'US, IN, Plainfield': 5,
 'US, MN, Mankato': 5,
 'US, CT, Norwalk': 5,
 'GB, CRY, CR0 4XY': 5,
 'US, FL, Gainesville': 5,
 'US, CA, Newark': 5,
 'GR, I, Glyfada': 5,
 'US, GA, Ringgold': 5,
 'US, IL, Springfield': 5,
 'US, OR, SE Portland': 5,
 'US, TX, New Braunfels': 5,
 'GR, I, Kifissia': 5,
 'DK, 84, København Ø': 5,
 'QA, DA, ': 5,
 'US, ND, Bismarck': 5,
 'US, CO, denver': 5,
 'MT, , ': 5,
 'US, IA, Coralville': 5,
 'US, MN, St. Cloud': 5,
 'US, WA, Everett': 5,
 'US, IL, Glendale Heights': 5,
 'ZA, GT, Johannesburg': 5,
 'US, SD, Sioux Falls': 5,
 'GB, HAM, Basingstoke': 5,
 'US, NY, NEW YORK': 5,
 'US, CA, Claremont': 4,
 'GB, , Soho, London': 4,
 'US, CO, Broomfield': 4,
 'GB, , Twickenham': 4,
 'PH, 00, Taguig City': 4,
 'IN, DL, ': 4,
 'US, OR, Eugene': 4,
 'NI, MN, Managua': 4,
 'ZA, WC, Cape Town': 4,
 'DE, NW, Dortmund': 4,
 'GB, ERY, Hessle': 4,
 'GB, MAN, Salford': 4,
 'US, CA, san diego': 4,
 'AU, NSW, ': 4,
 'GB, KTT, Kingston': 4,
 'AT, 5, ': 4,
 'US, OH, Mason': 4,
 'US, NV, Minden': 4,
 'GB, LDS, Elland': 4,
 'US, VA, ': 4,
 'US, AK, Anchorage': 4,
 'US, MN, Hopkins': 4,
 'GR, I, Maroussi': 4,
 'US, CA, Bakersfield, CA': 4,
 'GR, I, Kifisia, Athens': 4,
 'GB, , Luton': 4,
 'US, MD, ': 4,
 'US, CA, Monterey': 4,
 'US, CA, Newport Beach ': 4,
 'BR, SP, Sao Paulo': 4,
 'US, UT, Provo': 4,
 'GB, LDS, ': 4,
 'US, NY, Clinton': 4,
 'US, OK, Lawton': 4,
 'BE, VOV, Gent': 4,
 'ES, , ': 4,
 'AE, AZ, ': 4,
 'US, PA, Cranberry': 4,
 'US, ID, Groveland': 4,
 'US, CA, San Francisco Bay Area ': 4,
 'GB, SHF, Sheffield': 4,
 'AU, VIC, Carlton': 4,
 'IL, , Tel-Aviv': 4,
 'US, TX, El Paso': 4,
 'AU, WA, Perth': 4,
 'US, ND, ': 4,
 'GB, , Oxford': 4,
 'US, ND, Fargo': 4,
 'FR, K, Montpellier': 4,
 'US, FL, West Palm Beach': 4,
 'US, OR, Milwaukie': 4,
 'US, CT, Wallingford': 4,
 'GB, BEN, London': 4,
 'US, NY, Port Chester': 4,
 'BE, VBR, Leuven': 4,
 'GB, , Birstall': 4,
 'US, IA, Waterloo': 4,
 'LU, , Luxembourg': 4,
 'US, GA, Augusta': 4,
 'IN, KA, bangalore': 4,
 'US, MD, Bethesda': 4,
 'US, MN, Minnetonka': 4,
 'US, TX, Dallas/Fort Worth': 4,
 'US, CA, Redwood City': 4,
 'US, CA, Santa Cruz': 4,
 'US, CA, Santa Rosa': 4,
 'GB, , See the Requirements section for areas and locations available': 4,
 'US, NJ, Hammonton': 4,
 'US, RI, Providence': 4,
 'US, LA, Shreveport': 4,
 'US, IN, ': 4,
 'CA, BC, Kelowna': 4,
 'US, IL, CHICAGO': 4,
 'US, WA, Vancouver': 4,
 'US, TN, ': 4,
 'US, MD, Columbia': 4,
 'US, CA, Ontario': 4,
 'GB, NET, Newcastle Upon Tyne': 4,
 'GB, ESS, Chelmsford': 4,
 'PH, 00, Northgate Cyberzone, Alabang': 4,
 'US, NY, Buffalo': 4,
 'US, GA, Suwanee': 4,
 'US, NJ, Hasbrouck Heights': 4,
 'US, VA, Leesburg': 4,
 'US, LA, Baton Rouge': 4,
 'GB, SOS, Southend-on-Sea': 4,
 'US, IL, ': 4,
 'US, SD, Rapid City': 4,
 'GB, , Batley': 4,
 'US, CA, Diamond Bar': 4,
 'US, CA, La Jolla': 4,
 'US, TX, Dallas/ Fort Worth': 4,
 'GB, BST, Bristol': 4,
 'US, MO, Columbia': 4,
 'BE, BRU, ': 4,
 'US, CT, Brookfield': 4,
 'US, VA, Fredericksburg': 4,
 'US, CO, Fort Collins': 4,
 'GB, MAN, Rusholme': 4,
 'DK, , ': 4,
 'US, CT, South Windsor': 4,
 'TR, 34, Istanbul': 4,
 'BR, SP, ': 4,
 'GB, , Newcastle': 4,
 'US, CA, SF Bay Area': 4,
 'US, WA, ': 4,
 'GB, LND, Camden, London': 4,
 'US, NY, Levittown': 4,
 'US, TX, The Woodlands': 4,
 'US, KS, Kansas City': 4,
 'US, IL, Peoria': 4,
 'PH, 00, Makati City': 4,
 'GB, , Preston': 4,
 'CZ, PR, ': 4,
 'KR, , Seoul': 4,
 'US, MI, Kalamazoo': 4,
 'US, MI, Lawrence': 4,
 'IN, MH, mumbai': 4,
 'GB, SHF, ': 4,
 'US, NJ, Elmwood Park': 4,
 'GB, EDH, Edinburgh South and South East': 4,
 'GB, , Hemel Hempstead': 4,
 'US, CA, Milpitas': 4,
 'GR, I, Iraklio': 4,
 'MT, 56, ': 4,
 'NZ, N, Auckland CBD': 4,
 'US, CA, Roseville': 3,
 'US, MA, BOSTON': 3,
 'CA, SK, Regina': 3,
 'US, RI, Warwick': 3,
 'GB, , Ossett': 3,
 'GR, , ATHENS': 3,
 'PK, , ': 3,
 'JP, 13, Tokyo - Shibuya': 3,
 'US, PA, Reading': 3,
 'US, OH, 43215': 3,
 'CA, NB, Moncton': 3,
 'GR, G, Patras': 3,
 'US, FL, tampa': 3,
 'US, MN, Waite Park': 3,
 'CA, ON, Markham': 3,
 'US, CA, El Segundo ': 3,
 'UA, , Kharkov': 3,
 'US, CA, Salinas': 3,
 'ID, JW, Cimahi': 3,
 'US, MI, Bridgman': 3,
 'US, MI, Brighton ': 3,
 'US, VA, Ashburn': 3,
 'PH, 00, Mandaluyong City': 3,
 'US, CA, los angeles': 3,
 'PH, , Taguig City': 3,
 'GB, LND, LONDON': 3,
 'US, VA, Tysons Corner': 3,
 'GB, DNC, Doncaster': 3,
 'AU': 3,
 'US, IN, South Bend': 3,
 'US, MN, Savage': 3,
 'US, WI, Wausau': 3,
 'US, CA, Lakeport': 3,
 'EE, 37, ': 3,
 'US, CA, Brea': 3,
 'IN, KA, Bangalore ': 3,
 'US, ID, Idaho Falls': 3,
 'BG, 23, ': 3,
 'US, NY, White Plains': 3,
 'US, CO, Monument': 3,
 'CA, ON, Greater Toronto Area': 3,
 'US, PA, Canonsburg': 3,
 'US, MO, Springfield': 3,
 'GB, , Aberdeen': 3,
 'US, FL, Doral': 3,
 'US, NY, Flushing': 3,
 'US, MA, Boston ': 3,
 'GB, , Shoreditch': 3,
 'US, IA, Iowa City': 3,
 'US, CA, Sacramento Region': 3,
 'US, GA, ATLANTA': 3,
 'EG, ALX, ': 3,
 'US, TX, Midland': 3,
 'US, IL, West Chicago': 3,
 'GB, , Middlesex': 3,
 'GB, BKM, Milton Keynes': 3,
 'BR, RJ, ': 3,
 'GR, I, Magoula': 3,
 'US, NY, Garden City': 3,
 'US, CO, Boulder': 3,
 'IL, M, Hertzelia': 3,
 'PH, 00, Makati': 3,
 'DE, HE, Frankfurt': 3,
 'SA, , ': 3,
 'US, TX, austin': 3,
 'US, CT, Bloomfield': 3,
 'US, MN, Saint Paul': 3,
 'US, OR, NE Portland': 3,
 'US, TX, McAllen': 3,
 'CA, BC, Burnaby': 3,
 'NG, , ': 3,
 'GR': 3,
 'US, CA, Westlake Village': 3,
 'EG, C, Nasrcity': 3,
 'US, KS, Shawnee': 3,
 'GB, LAN, Preston': 3,
 'US, TX, Decatur': 3,
 'GB, , Glasgow': 3,
 'QA, DA, Doha': 3,
 'GB, , Liverpool': 3,
 'US, CA, Marina Del Rey': 3,
 'US, TX, Pleasanton': 3,
 'AT, , ': 3,
 'PK, IS, Islamabad': 3,
 'US, IL, Joliet': 3,
 'GB, OXF, Oxford': 3,
 'UA, 71, Cherkassy': 3,
 'US, ND, Grand Forks': 3,
 'US, OH, Independence ': 3,
 'JP, 13, Tokyo': 3,
 'US, CA, Vernon': 3,
 'GB, MLN, Edinburgh South and South East': 3,
 'GR, I, Gerakas': 3,
 'AE, , Media City | Dubai': 3,
 'US, WA, Yakima': 3,
 'US, NY, Plattsburgh': 3,
 'US, MD, Salisbury': 3,
 'BH, 13, ': 3,
 'US, MO, Jefferson City': 3,
 'US, OH, Parma': 3,
 'US, OH, columbus': 3,
 'US, NM, Albuquerque': 3,
 'US, CA, San Francisco/Oakland': 3,
 'US, IA, Wever': 3,
 'GB, LIV, ': 3,
 'US, SC, Bluffton': 3,
 'NO, 03, ': 3,
 'US, OH, Van Wert': 3,
 'US, CA, Fremont': 3,
 'US, WI, Green Bay': 3,
 'GB, BNH, Brighton': 3,
 'US, OH, Athens': 3,
 'US, AL, Tuscaloosa': 3,
 'US, WY, Cheyenne': 3,
 'GB, WSX, Crawley': 3,
 'GB, WOR, worcester': 3,
 'US, NC, Raleigh ': 3,
 'PL, , Poznań': 3,
 'GR, I, Kifisia': 3,
 'LU, , ': 3,
 'US, MD, Leonardtown': 3,
 'PL, WP, Poznań': 3,
 'US, IN, Cayuga': 3,
 'AU, NSW, Darlinghurst': 3,
 'CA, ON, Waterloo': 3,
 'FI, , ': 3,
 'GB, BAS, Bath': 3,
 'US, TX, Sugar Land': 3,
 'IN, , Hyderabad': 3,
 'GR, I, Αθήνα': 3,
 'US, IL, Naperville': 3,
 'US, MI, royal Oak': 3,
 'US, VA, Mclean': 3,
 'US, CA, Torrance': 3,
 'US, IL, Deerfield': 3,
 'BE, VBR, ': 3,
 'US, , Waco': 3,
 'GB, , Pontefract': 3,
 'GB, HCK, London': 3,
 'US, TN, Spring Hill': 3,
 'US, WY, Casper': 3,
 'MT, 56, Sliema': 3,
 'US, WI, Menomonie': 3,
 'US, NY, Commack': 3,
 'US, CA, pleasanton': 3,
 'US, MD, Waldorf': 3,
 'FI, OL, Oulu': 3,
 'US, PA, California': 3,
 'US, IA, Davenport': 3,
 'US, NV, Reno': 3,
 'US, CO, Grand Junction': 3,
 'US, CA, Fontana': 3,

In [324]:
df['location'] = df.location.str[:2]

In [325]:
dict(df['location'].value_counts())

{'US': 10636,
 'GB': 2384,
 'GR': 940,
 'CA': 457,
 'DE': 383,
 'NZ': 333,
 'IN': 271,
 'AU': 214,
 'PH': 132,
 'NL': 127,
 'BE': 117,
 'IE': 114,
 'SG': 80,
 'HK': 77,
 'PL': 76,
 'EE': 72,
 'IL': 72,
 'FR': 70,
 'ES': 66,
 'AE': 54,
 'EG': 52,
 'SE': 49,
 'RO': 46,
 'DK': 42,
 'ZA': 40,
 'BR': 36,
 'IT': 31,
 'FI': 29,
 'PK': 27,
 'LT': 23,
 'QA': 21,
 'MY': 21,
 'RU': 20,
 'JP': 20,
 'PT': 18,
 'MX': 18,
 'TR': 17,
 'BG': 17,
 'SA': 15,
 'CH': 15,
 'CN': 15,
 'AT': 14,
 'MU': 14,
 'HU': 14,
 'MT': 13,
 'ID': 13,
 'UA': 13,
 'CY': 11,
 'IQ': 10,
 'NG': 10,
 'KR': 10,
 'TH': 10,
 'LU': 9,
 'BH': 9,
 'AR': 9,
 'BY': 9,
 'PA': 9,
 'NO': 8,
 'RS': 7,
 'KE': 7,
 'CZ': 6,
 'LV': 6,
 'TW': 4,
 'TT': 4,
 'NI': 4,
 'VN': 4,
 'VI': 3,
 'TN': 2,
 'SK': 2,
 'KW': 2,
 'IS': 2,
 'AM': 2,
 'LK': 2,
 'CL': 2,
 'BD': 2,
 'ZM': 2,
 'MA': 1,
 'PE': 1,
 'HR': 1,
 'CM': 1,
 'KH': 1,
 'SV': 1,
 'GH': 1,
 'CO': 1,
 'SD': 1,
 'AL': 1,
 'UG': 1,
 'JM': 1,
 'KZ': 1,
 'SI': 1}

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17853 entries, 1 to 17852
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           17853 non-null  object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  10806 non-null  object
 9   required_education   9752 non-null   object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.9+ MB

In [327]:
df['required_experience'].unique()

array(['Mid-Senior level', 'Associate', 'Entry level', nan, 'Internship',
       'Not Applicable', 'Director', 'Executive'], dtype=object)

In [328]:
df3 = df[df['required_experience'].isna()]
df4 = df[~df['required_experience'].isna()]

In [329]:
df3['required_experience'] = 'Not Applicable'

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [330]:
df = df3.append(df4)

In [331]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17853 entries, 6 to 17852
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           17853 non-null  object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  17853 non-null  object
 9   required_education   9752 non-null   object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.9+ MB

In [332]:
df['required_education'].value_counts()

Bachelor's Degree                    5140
High School or equivalent            2065
Unspecified                          1396
Master's Degree                       414
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: required_education, dtype: int64

In [333]:
df5 = df[df['required_education'].isna()]
df6 = df[~df['required_education'].isna()]

In [334]:
df5['required_education'] = 'Unspecified'
df = df5.append(df6)

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [335]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17853 entries, 10 to 17849
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           17853 non-null  object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  17853 non-null  object
 9   required_education   17853 non-null  object
 10  industry             12952 non-null  object
 11  function             11404 non-null  object
 12  fraudulent           17853 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.9+ MB

In [336]:
df['fraudulent'].value_counts()

0    16988
1      865
Name: fraudulent, dtype: int64

In [337]:
dict(df['industry'].value_counts())

{'Information Technology and Services': 1733,
 'Computer Software': 1375,
 'Internet': 1062,
 'Marketing and Advertising': 827,
 'Education Management': 821,
 'Financial Services': 779,
 'Hospital & Health Care': 497,
 'Consumer Services': 353,
 'Telecommunications': 331,
 'Oil & Energy': 287,
 'Retail': 222,
 'Real Estate': 175,
 'Accounting': 159,
 'Construction': 158,
 'E-Learning': 139,
 'Management Consulting': 130,
 'Design': 129,
 'Staffing and Recruiting': 127,
 'Health, Wellness and Fitness': 127,
 'Insurance': 123,
 'Automotive': 120,
 'Logistics and Supply Chain': 112,
 'Human Resources': 108,
 'Online Media': 101,
 'Legal Services': 97,
 'Apparel & Fashion': 97,
 'Facilities Services': 94,
 'Hospitality': 88,
 'Computer Games': 86,
 'Banking': 84,
 'Building Materials': 78,
 'Leisure, Travel & Tourism': 76,
 'Nonprofit Organization Management': 75,
 'Entertainment': 74,
 'Electrical/Electronic Manufacturing': 73,
 'Food & Beverages': 72,
 'Cosmetics': 65,
 'Airlines/Aviation': 63,
 'Consumer Goods': 63,
 'Consumer Electronics': 62,
 'Medical Practice': 60,
 'Public Relations and Communications': 58,
 'Civic & Social Organization': 55,
 'Market Research': 54,
 'Transportation/Trucking/Railroad': 53,
 'Restaurants': 52,
 'Warehousing': 51,
 'Events Services': 50,
 'Broadcast Media': 50,
 'Computer & Network Security': 49,
 'Environmental Services': 49,
 'Media Production': 48,
 'Computer Networking': 44,
 'Food Production': 44,
 'Pharmaceuticals': 42,
 'Gambling & Casinos': 42,
 'Biotechnology': 38,
 'Publishing': 38,
 'Mechanical or Industrial Engineering': 37,
 'Computer Hardware': 35,
 'Utilities': 33,
 'Graphic Design': 32,
 'Printing': 30,
 'Venture Capital & Private Equity': 29,
 'Security and Investigations': 29,
 'Research': 29,
 'Information Services': 27,
 'Aviation & Aerospace': 24,
 'Farming': 24,
 'Sports': 23,
 'Mental Health Care': 23,
 'Chemicals': 22,
 'Government Administration': 22,
 'Medical Devices': 19,
 'Outsourcing/Offshoring': 19,
 'Law Practice': 19,
 'Writing and Editing': 19,
 'Business Supplies and Equipment': 18,
 'Fund-Raising': 16,
 'Professional Training & Coaching': 14,
 'Wholesale': 11,
 'Higher Education': 11,
 'Semiconductors': 11,
 'Machinery': 11,
 'Government Relations': 11,
 'Music': 10,
 'Translation and Localization': 10,
 'Architecture & Planning': 10,
 'Law Enforcement': 10,
 'Civil Engineering': 9,
 'Renewables & Environment': 9,
 'Individual & Family Services': 9,
 'Program Development': 9,
 'Defense & Space': 9,
 'Executive Office': 8,
 'International Trade and Development': 8,
 'Veterinary': 8,
 'Public Safety': 7,
 'Industrial Automation': 7,
 'Photography': 7,
 'Primary/Secondary Education': 6,
 'Investment Management': 6,
 'Motion Pictures and Film': 6,
 'Religious Institutions': 6,
 'Animation': 5,
 'Packaging and Containers': 5,
 'Import and Export': 5,
 'Package/Freight Delivery': 5,
 'Capital Markets': 5,
 'Fishery': 4,
 'Philanthropy': 4,
 'Investment Banking': 4,
 'Commercial Real Estate': 4,
 'Luxury Goods & Jewelry': 4,
 'Wireless': 4,
 'Public Policy': 3,
 'Maritime': 3,
 'Plastics': 3,
 'Mining & Metals': 3,
 'Performing Arts': 3,
 'Furniture': 3,
 'Nanotechnology': 2,
 'Textiles': 2,
 'Military': 2,
 'Libraries': 2,
 'Alternative Dispute Resolution': 1,
 'Shipbuilding': 1,
 'Wine and Spirits': 1,
 'Museums and Institutions': 1,
 'Sporting Goods': 1,
 'Ranching': 1}

In [338]:
df = df.reset_index()
df = df[['simplified_titles', 'location', 'department', 'salary',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'function',
       'fraudulent']]

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17853 entries, 0 to 17852
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    17853 non-null  object
 1   location             17509 non-null  object
 2   department           17853 non-null  object
 3   salary               17853 non-null  object
 4   telecommuting        17853 non-null  int64
 5   has_company_logo     17853 non-null  int64
 6   has_questions        17853 non-null  int64
 7   employment_type      14383 non-null  object
 8   required_experience  17853 non-null  object
 9   required_education   17853 non-null  object
 10  function             11404 non-null  object
 11  fraudulent           17853 non-null  int64
dtypes: int64(4), object(8)
memory usage: 1.6+ MB

In [340]:
df['function'].value_counts()

Information Technology    1748
Sales                     1468
Engineering               1348
Customer Service          1216
Marketing                  828
Administrative             630
Design                     340
Health Care Provider       338
Education                  325
Other                      323
Management                 317
Business Development       228
Accounting/Auditing        211
Human Resources            205
Project Management         183
Finance                    172
Consulting                 143
Art/Creative               132
Writing/Editing            131
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: function, dtype: int64

### Working on function feature

In [341]:
df7 = df[df['function'].isna()]
df8 = df[~df['function'].isna()]

df7['function'] = 'Other'

df = df7.append(df8)

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [342]:
df = df.dropna()

In [343]:
df

,simplified_titles,location,department,salary,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent
3,Others,AU,Others,97500,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
5,Others,US,Others,110000,0,0,1,Full-time,Not Applicable,Unspecified,Other,0
8,Others,AU,Others,110000,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
11,Engineer,GR,Others,25000,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
14,Others,CA,Others,37500,0,0,0,Part-time,Not Applicable,Unspecified,Other,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17848,Others,US,Account/finance,664074,0,0,0,Full-time,Entry level,High School or equivalent,Accounting/Auditing,1
17849,Marketing,US,Sales,664074,0,1,1,Full-time,Associate,Bachelor's Degree,Sales,0
17850,Marketing,US,Simple Relevance,664074,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Sales,0
17851,Others,US,IT,664074,0,1,1,Full-time,Associate,High School or equivalent,Information Technology,0
17852,Marketing,US,Accounting,664074,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Accounting/Auditing,0

In [344]:
df_0 = df[df['fraudulent'] == 0]
df_1 = df[df['fraudulent'] == 1]

In [345]:
df_0 = df_0[:1000]

In [346]:
df_1.shape

(617, 12)

In [347]:
df = df_0.append(df_1)

In [348]:
df.columns

Index(['simplified_titles', 'location', 'department', 'salary',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'function', 'fraudulent'],
      dtype='object')

In [349]:
df.head()

,simplified_titles,location,department,salary,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent
3,Others,AU,Others,97500,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
5,Others,US,Others,110000,0,0,1,Full-time,Not Applicable,Unspecified,Other,0
8,Others,AU,Others,110000,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
11,Engineer,GR,Others,25000,0,1,1,Full-time,Not Applicable,Unspecified,Other,0
15,Others,US,Others,1.08e+06,0,1,0,Full-time,Not Applicable,Unspecified,Other,0

In [350]:
df.describe().columns

Index(['telecommuting', 'has_company_logo', 'has_questions', 'fraudulent'], dtype='object')

In [351]:
cat_cols = ['simplified_titles', 'location', 'department', 'salary', 'employment_type',
       'required_experience', 'required_education', 'function']

In [352]:
from sklearn.preprocessing import LabelEncoder

In [353]:
for each_col in cat_cols:
    le = LabelEncoder()
    df[each_col] = le.fit_transform(df[each_col])

In [354]:
df.describe().columns

Index(['simplified_titles', 'location', 'department', 'salary',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'function', 'fraudulent'],
      dtype='object')

In [355]:
X = df[['simplified_titles', 'location', 'department', 'salary',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'function']].values
Y = df[['fraudulent']].values

In [356]:
rfc = RandomForestClassifier()
svc = SVC()

In [357]:
from sklearn.model_selection import train_test_split

In [358]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [359]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1212, 11), (405, 11), (1212, 1), (405, 1))

In [360]:
rfc.fit(X_train, Y_train)

E:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [361]:
svc.fit(X_train, Y_train)

E:\Applications\Anaconda\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [362]:
Y_pred_scv = svc.predict(X_test)

In [363]:
Y_pred_rfc = rfc.predict(X_test)

In [364]:
from sklearn.metrics import accuracy_score

In [365]:
accuracy_score(Y_test, Y_pred_scv)

0.8518518518518519

In [366]:
accuracy_score(Y_test, Y_pred_rfc)

0.9481481481481482

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1617 entries, 3 to 17848
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   simplified_titles    1617 non-null   int32
 1   location             1617 non-null   int32
 2   department           1617 non-null   int32
 3   salary               1617 non-null   int32
 4   telecommuting        1617 non-null   int64
 5   has_company_logo     1617 non-null   int64
 6   has_questions        1617 non-null   int64
 7   employment_type      1617 non-null   int32
 8   required_experience  1617 non-null   int32
 9   required_education   1617 non-null   int32
 10  function             1617 non-null   int32
 11  fraudulent           1617 non-null   int64
dtypes: int32(8), int64(4)
memory usage: 113.7 KB