In [2]:
for i in range(20,30):
   if i==28:
     break
print("value of i",i)

value of i 28

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('annual-enterprise-survey-2019-financial-year-provisional-csv.csv')

In [11]:
df.shape

df.info()
/##here a row acts as array

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32445 entries, 0 to 32444
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         32445 non-null  int64
 1   Industry_aggregation_NZSIOC  32445 non-null  object
 2   Industry_code_NZSIOC         32445 non-null  object
 3   Industry_name_NZSIOC         32445 non-null  object
 4   Units                        32445 non-null  object
 5   Variable_code                32445 non-null  object
 6   Variable_name                32445 non-null  object
 7   Variable_category            32445 non-null  object
 8   Value                        32445 non-null  object
 9   Industry_code_ANZSIC06       32445 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.5+ MB

In [13]:
df.describe()
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [15]:
df['Year']

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
32440    2013
32441    2013
32442    2013
32443    2013
32444    2013
Name: Year, Length: 32445, dtype: int64

In [17]:
df[['Year','Value']]

       Year    Value
0      2019  728,239
1      2019  643,809
2      2019   62,924
3      2019   21,505
4      2019  634,710
...     ...      ...
32440  2013       52
32441  2013       40
32442  2013       12
32443  2013        5
32444  2013       46

[32445 rows x 2 columns]

In [19]:
df2 = pd.read_csv('business-price-indexes-december-2020-quarter-csv.csv')

In [26]:
df2.info()
df2.shape
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68854 entries, 0 to 68853
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  68854 non-null  object
 1   Period            68854 non-null  float64
 2   Data_value        68454 non-null  float64
 3   STATUS            68854 non-null  object
 4   UNITS             68854 non-null  object
 5   Subject           68854 non-null  object
 6   Group             68854 non-null  object
 7   Series_title_1    68854 non-null  object
 8   Series_title_2    921 non-null    object
 9   Series_title_3    0 non-null      float64
 10  Series_title_4    0 non-null      float64
 11  Series_title_5    0 non-null      float64
dtypes: float64(5), object(7)
memory usage: 6.3+ MB

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

df2['Period'].unique

In [25]:
df2['Period'].value_counts()

2017.06    778
2019.06    778
2018.09    778
2015.03    778
2019.09    778
          ...
1978.12      7
1978.03      5
1978.09      5
1978.06      5
1977.12      3
Name: Period, Length: 173, dtype: int64

In [30]:
df2[df2['Year']=='2019']

KeyError: 'Year'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('annual-enterprise-survey-2019-financial-year-provisional-csv.csv')

In [19]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [6]:
df.shape

(32445, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32445 entries, 0 to 32444
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         32445 non-null  int64
 1   Industry_aggregation_NZSIOC  32445 non-null  object
 2   Industry_code_NZSIOC         32445 non-null  object
 3   Industry_name_NZSIOC         32445 non-null  object
 4   Units                        32445 non-null  object
 5   Variable_code                32445 non-null  object
 6   Variable_name                32445 non-null  object
 7   Variable_category            32445 non-null  object
 8   Value                        32445 non-null  object
 9   Industry_code_ANZSIC06       32445 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.5+ MB

In [8]:
df.describe()

               Year
count  32445.000000
mean    2016.000000
std        2.000031
min     2013.000000
25%     2014.000000
50%     2016.000000
75%     2018.000000
max     2019.000000

In [18]:
df.columns()

TypeError: 'Index' object is not callable

In [13]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

In [14]:
df.head(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
5,2019,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"35,250",ANZSIC06 divisions A-S (excluding classes K633...
6,2019,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,458",ANZSIC06 divisions A-S (excluding classes K633...
7,2019,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"20,977",ANZSIC06 divisions A-S (excluding classes K633...
8,2019,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"112,960",ANZSIC06 divisions A-S (excluding classes K633...
9,2019,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,206,ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [16]:
df[100:110]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
100,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H12,Salaries and wages paid,Financial performance,820,"ANZSIC06 groups A011, A012, and A013"
101,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups A011, A012, and A013"
102,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"2,673","ANZSIC06 groups A011, A012, and A013"
103,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H20,Non-operating expenses,Financial performance,19,"ANZSIC06 groups A011, A012, and A013"
104,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H21,Opening stocks,Financial performance,339,"ANZSIC06 groups A011, A012, and A013"
105,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H22,Closing stocks,Financial performance,363,"ANZSIC06 groups A011, A012, and A013"
106,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H23,Surplus before income tax,Financial performance,832,"ANZSIC06 groups A011, A012, and A013"
107,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H24,Total assets,Financial position,"14,972","ANZSIC06 groups A011, A012, and A013"
108,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H25,Current assets,Financial position,"2,671","ANZSIC06 groups A011, A012, and A013"
109,2019,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H26,Fixed tangible assets,Financial position,"9,750","ANZSIC06 groups A011, A012, and A013"

In [20]:
df[['Year','Units']]

       Year               Units
0      2019  Dollars (millions)
1      2019  Dollars (millions)
2      2019  Dollars (millions)
3      2019  Dollars (millions)
4      2019  Dollars (millions)
...     ...                 ...
32440  2013          Percentage
32441  2013          Percentage
32442  2013          Percentage
32443  2013          Percentage
32444  2013          Percentage

[32445 rows x 2 columns]